
body{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    transition: all linear 0.8s;
}
.lsyapp{
    width: auto;
    height: auto;

}
.lsybody{
    width: 900px;
    margin: 0 auto;
    height: 2500px;
    background-color: white;

    margin-top: 250px;
}
a{
    text-decoration: none;
    width:100%;
    height: 100%;
}
ul{
    padding: 0;
    margin: 0;
}
p{
    padding:0;
    margin: 0;
    text-overflow : ellipsis
}
h1{
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
    height: 100%;
}
.fontred{
    color: firebrick;
}
.lsytop{
    width:100%;
    height:40px;
    position:absolute;
    top:0px;
    background: lightgray;
    border:0px;
    box-shadow: 1px 1px 1px white;
}
.lsylogin{
    width: 120px;
    height: 100%;
    position: relative;
    top:0px;
    left: 5%;
    color: firebrick;
    font-family: 'Microsoft YaHei';
    font-size: 15px;
    letter-spacing:1px;
    line-height:40px;
    transition: all linear 0.8s;
}
.lsylogin:hover{
    text-decoration: underline;
    cursor: pointer;
    color:#f9a1b7;
}
.lsytop ul{
    width:300px;
    height: 100%;
    position: relative;
    top:-40px;
    left:100%;
    margin-left:-300px;
}
.lsytop ul li{
    list-style: none;
    float: left;
    width: 60px;
    height: 100%;
    margin-left: 15px;
    font-size: 15px;
    font-family: 'Microsoft YaHei';
    line-height:40px;
}
.lsytop ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.lsywx{
    transition: all linear 0.5s;
    position: absolute;
    width: 120px;
    height: 120px;
    top:50px;
    right: 2%;
    z-index: 100;
    box-shadow: 0px 0px 10px gray;
    border-radius: 25px;
    opacity: 1;
}
 .wx2{
   opacity: 0;
     z-index: 88;
}
 .lsylogo{
     position: absolute;
     width: 100%;
     height:110px;
     background: url('../image/hunter.jpg');
     background-size: 20% 100%;
     top:40px;
     border: 0px solid white;
     overflow: hidden;
 }
 .lsylogo img{

   display: block;
 }
/*navig*/
.lsynav{
    position: absolute;
    width: 100%;
    height: 50px;
    top:150px;
    background: #f3929b;
    box-shadow: 0px 0px 5px white;
    z-index: 90;
    /*transition: all linear 0.6s;*/
}
.lsynav2{
    position: fixed!important;
    width: 100%;
    height: 50px;
    top:0px!important;
    background: #f3929b;
    box-shadow: 0px 0px 5px white;
    /*transition: all linear 0.6s;*/
    z-index: 101!important;
}
.lsynav ul{
    width:60%;
    height: 100%;
    position: relative;
    top:0px;
    left:15%;
}
.lsynav ul li{
    list-style: none;
    float: left;
    width: 100px;
    height: 100%;
    font-size:20px;
    color:white;
    text-align: center;
    font-family: 'Microsoft YaHei';
    line-height:50px;
    cursor: default;
    border-radius: 5px;
}
.lsyhover{
    background: white;
    color: black!important;
    box-shadow: 0px 0px 20px #f3929b inset;
}
.lsyuser{
    width: 300px;
    height: 100%;
    position: relative;
    top:-50px;
    left: 90%;
    margin-left: -300px;
    background: #f3929b;
    overflow: hidden;
}
.lsyuser img{
    width: 45px;
    height: 45px;
    border-radius:50%;
    border: 0px solid yellow;
    margin-top: 3px;
    float: left;
}
.lsyuser img:hover{
    cursor: pointer;
    opacity:0.8;
}
.lsyname{
    width: 100px;
    height: 100%;;
    float: left;
    padding-left: 10px;
    color:black;
    font-size: 14px;
    font-family: 'microsoft yahei';
    line-height: 55px;
    overflow: hidden;
}
.lsyname:hover{
    cursor: pointer;

}
.lsytrib{
    width: 100px;
    height: 100%;;
    float: left;
    margin-left: 5px;
    text-align: center;
    color:red;
    font-size: 20px;
    font-family: 'microsoft yahei';
    line-height: 55px;
    font-weight: 600;
    border-radius: 2px;
}
.lsytrib:hover{
    cursor: pointer;
    color: red;
}
.lsytrib:active{
    background-color: crimson;
}
.lsynav-s{
    position: absolute;
    width: 100%;
    height: 25px;
    top:50px;
    background-color: white;
    opacity: 0.9;
}
.lsynav-s ul{
    position: relative;
    top:0px;
    left: 50%;
    width: 68%;
    height: 25px;
    margin-left: -34%;
    border-bottom: 1px solid #f3929b;
}
.lsynav-s ul li{
    list-style: none;
    float: left;
    width: 80px;
    height: 100%;
    font-size:14px;
    color:#f3929b;
    text-align: center;
    font-family: 'Microsoft YaHei';
    line-height:30px;
    border-radius:3px;
}
.lsynav-s ul li:hover{
    background: #f3929b;
    color: white;
    cursor: pointer;
}
/*message*/
.lsymsg{
    position: relative;
    width: 80px;
    height: 100%;
    top:-25px;
    left: 90%;
    margin-left: -150px;
    font-size:18px;
    color:red;
    text-align: center;
    font-family: 'Microsoft YaHei';
    line-height:20px;
    font-weight: 600;
}
.lsymsg:hover{
    cursor: pointer;
    font-weight: 900;
}
.lsymsglist{
   position: absolute;
    width: 300px;
    height: 200px;
    top:40px;
    right: 30px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 1px;
    z-index:101;
    transition: all linear 0.4s;
    background: white;
}
 .msghide{
    height: 0px;
     z-index:102;
}
 /*标签*/
.lsybq{
    position: absolute;
    top:9px;
    left: -20px;
    width: 100px;
    height: 25px;
    background: orange;
    transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    text-align: center;
    color: white;
    font-family: 'DFKai-SB';
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    box-shadow: 0px 1px 2px gray;
}
 /*picture*/
 .lsypics{
     position: absolute;
     top:250px;
     left:50%;
     margin-left: -450px;
     width:900px;
     height: 350px;
     transition: all linear 0.4s;
     z-index: 10;
 }
.lsypfj  .lsypt{
     position: absolute;
     top:0px;
     left: 50%;
     margin-left: 150px;
     width: 250px;
     height:250px;
     transition: all linear 0.4s;
     z-index: 80;
 }
.lsypgw .lsypt{
    position: absolute;
    top:0px;
    left:680px;
    width: 220px;
    height:350px;
    transition: all linear 0.4s;
    z-index: 80;
}
.lsypgw .lsypt ul{
     width: 100%;
    height: 350px;
 }
.lsypgw .lsypt ul li{
    list-style: none;
    float: left;
    width: 100%;
    height: 30px;
    border-bottom:1px dashed darkgrey;
    font-size: 18px;
    font-family: 'Microsoft YaHei';
    line-height: 25px;
    color: blueviolet;
    text-align: left;
    letter-spacing: 1px;
}
.lsypgw .lsypt ul li a{
    position: relative;
    left: 50%;
    margin-left: 70px;
    color: blueviolet;
}
.lsypgw .lsypt ul li a:hover{
    color: dodgerblue;
}
.lsypgw .lsypt ul li span{
    color:palevioletred;
    position: relative;
    left: 50%;
    margin-left: -90px;
    font-size: 22px;
    font-family: 'comic sans ms';
    font-weight: 600;
    font-style: oblique;
    letter-spacing: 0px;
}
.listtitle{
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 5px;
}
.lsypfj .lsyptype{
     position: relative;
     margin-left: 10%;
     margin-bottom: 10px;
     width: 90%;
     height: 50px;
     border: 1px solid #f3929b;
     border-radius: 2px;
     font-family: 'kaiti';
     font-size: 26px;
     text-align: center;
     font-weight: 900;
     color: #f3929b;
     letter-spacing: 10px;
     line-height: 50px;
     transition: all linear 0.4s;
 }
 .lsyptype2{
     width: 90%;
     margin-left: 0%!important;
     border: 1px solid red!important;
 }
.lsyptype:hover{
    border: 1px solid red;
    box-shadow: 0px 0px 10px red;
    cursor: pointer;

}
.lsypics .lsypi{
    position: absolute;
    width:650px;
    height: 350px;
    /*background: #f3929b;*/

    opacity: 1;
    transition: all linear 0.4s;
}
.lsypics .ng-hide{
    opacity: 0;
}
.lsypgw .lsyp{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 0%;
    border-radius: 2px;
    opacity: 1;
    transition: all linear 0.4s;
    overflow: hidden;
}
.lsypgw .lsyp:hover{
    cursor: pointer;
}
.lsypms .lsyp{
    position: absolute;
    width: 80%;
    height: 70%;
    margin-left: 7%;
    opacity: 1;
    transition: all linear 0.4s;
}
.lsypktv .lsyp{
    position: absolute;
    width: 80%;
    height: 70%;
    margin-left: 7%;
    opacity: 1;
    transition: all linear 0.4s;
}
.lsypld .lsyp{
    position: absolute;
    width: 80%;
    height: 70%;
    margin-left: 7%;
    opacity: 1;
    transition: all linear 0.4s;
}
.lsypdy{
    margin-left: 5%;
}
.lsypdy .lsyp{
    float: left;
    width: 28%;
    height: 70%;
    opacity: 1;
    transition: all linear 0.4s;
}
.lsypdy .lsyp:hover{
    cursor: pointer;
}
.lsypgw .lsyphd{
    position: absolute;
    opacity: 0;
}
.lsypdy .lsyphd{
    opacity: 0.8;
}
.lsypms .lsyphd{
     opacity: 0;
 }
.lsypktv .lsyphd{
    opacity: 0;
}
.lsypld .lsyphd{
    opacity: 0;
}
.lsypics img{
    width: 100%;
    height: 100%;
}

.lsypfj .lsyp-s{
    position: absolute;
    top:270px;
    left:5%;
    border-bottom: 1px solid #f3929b;
    width: 850px;
    height: 60px;
}
.lsypgw .lsyp-s{
    position: absolute;
    top:285px;
    left:5%;
    width: 650px;
    height: 60px;
    border-bottom: 0px solid #f3929b;
}
.lsypgw .lsyp-sp{
    float: left;
    width: 70px;
    height: 40px;
    margin-left: 12px;
    border-radius: 3px;
    border:1px solid #f9a1b7 ;
    opacity: 0.8;
    transition: all linear 0.4s;
}
.lsypgw .lsyp-sp:hover{
    cursor: default;
}
.lsypms .lsyp-sp{
    float: left;
    width: 60px;
    height: 50px;
    margin-left: 10px;
    border-radius: 2px;
    border: 1px solid #f3929b;
    opacity: 0.9;
    transition: all linear 0.4s;
}
.lsypktv .lsyp-sp{
    float: left;
    width: 60px;
    height: 50px;
    margin-left: 20px;
    border-radius: 2px;
    border: 1px solid #f3929b;
    opacity: 0.9;
    transition: all linear 0.4s;
}
.lsypld .lsyp-sp{
    float: left;
    width: 60px;
    height: 50px;
    margin-left: 10px;
    border-radius: 2px;
    border: 1px solid #f3929b;
    opacity: 0.9;
    transition: all linear 0.4s;
}
.lsypdy .lsyp-sp{
    float: right;
    width: 60px;
    height: 50px;
    margin-left: 20px;
    border-radius: 2px;
    /*border: 1px solid #f3929b;*/
    opacity: 0.9;
    transition: all linear 0.4s;
}
.lsypdy .lsypsphd{
    width: 80px;

}
.lsypgw .lsyp-st{
    float: left;
    width: 350px;
    height: 100%;
    font-size: 30px;
    font-family: 'microsoft yahei';
    line-height: 50px;
    text-align: left;
    margin-left: 30px;
    white-space:nowrap;
    color: darkslateblue;
}
.lsypms .lsyp-st{
    float: left;
    width: 350px;
    height: 100%;
    font-size: 30px;
    font-family: 'microsoft yahei';
    line-height: 50px;
    text-align: left;
    margin-left: 30px;
    white-space:nowrap;
    color: darkslateblue;
}
.lsypdy .lsyp-st{
    float: right;
    width: 350px;
    height: 100%;
    font-size: 30px;
    font-family: 'microsoft yahei';
    line-height: 50px;
    text-align: left;
    margin-left: 30px;
    white-space:nowrap;
    color: darkslateblue;
}
.lsypktv .lsyp-st{
    float: right;
    width: 350px;
    height: 100%;
    font-size: 30px;
    font-family: 'microsoft yahei';
    line-height: 50px;
    text-align: left;
    margin-left: 30px;
    white-space:nowrap;
    color: darkslateblue;
}
.lsypld .lsyp-st{
    float: left;
    width: 350px;
    height: 100%;
    font-size: 30px;
    font-family: 'microsoft yahei';
    line-height: 50px;
    text-align: left;
    margin-left: 30px;
    white-space:nowrap;
    color: darkslateblue;
}
.lsyp-st:hover{
    color: red;
    cursor: pointer;
}
.lsypgw .lsypsphd{
    opacity: 1;
    width: 70px;
    height: 40px;
    margin-top: -10px;
}
.lsypdy .lsypsthd{
    display: none;
}
.lsypms .lsypsphd{
    opacity: 1;
    width: 60px;
    height: 50px;
    margin-top: -10px;
}
.lsypld .lsypsphd{
    opacity: 1;
    width: 60px;
    height: 50px;
    margin-top: -10px;
}
.lsypktv .lsypsphd{
    opacity: 1;
    width: 60px;
    height: 50px;
    margin-top: -10px;
}
.lsyp-s img{
    width: 100%;
    height: 100%;
}
.lsyp-s img:hover{
    cursor: pointer;
}

/*model*/
.lsymodel{
    position: absolute;
    top:600px;
    left:50%;
    margin-left: -450px;
    width: 900px;
    height:auto;
}
.lsydel{
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 30px;

}
.lmhead{
    position: relative;
    width:100%;
    height:50px;
    border-bottom: 3px solid #e43747;
}
.lmfont{
    position: relative;
    width: 280px;
    height:100%;
    top:0px;
    font-family: 'Microsoft YaHei';
    font-size: 30px;
    color:#e43747;
    line-height: 60px;
    letter-spacing: 15px;
    padding-left: 10px;
    font-weight: 600;
}
.lmfont:hover{
    cursor: default;
}
.lmhead ul{
    position: relative;
    width: 620px;
    height: 100%;
    top:-50px;
    left: 280px;
}
.lmhead ul li{
    list-style: none;
    float: right;
    width: 100px;
    height: 80%;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-family: 'Microsoft YaHei';
    font-size: 20px;
    color:#e43747;
    line-height: 50px;
    font-weight: 600;
    border-radius: 5px;


}
.lmhead ul li:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px red;
}
.lsyhov{
    color:white!important;
    background-color:#e43747 ;
}
.lmurl{
    position: relative;
    width: 300px;
    height:30px;
    margin-left: -150px;
    left: 50%;
    white-space:nowrap;
    text-align: center;
    font-family: 'SimHei';
    font-size: 16px;
    color:purple;
    line-height: 30px;

}
.lmurl:hover{
    cursor: default;
}
.lmurl a:hover{
    color: red;
}

/*delicious*/
.lmbody{
    position: relative;
    width: 100%;
    height: 300px;
    top:-20px;
    overflow: hidden;
}
.lmbody ul{
    position: absolute;
    width: 100%;
    height: 100%;
}
.lmbody ul li{
    list-style: none;
    float: left;
    width: 200px;
    height:98%;
    margin-right: 20px;
    margin-bottom: 25px;
    border:2px solid #f9a1b7;
    border-radius: 5px;

}
.lmbody ul li:hover{
    border:2px solid red;
}
.lmbody img{
    position: relative;
    width: 90%;
    margin-left: 5%;
    height:150px;
    top:5px;

}
.lmbody img:hover{
    cursor: pointer;
}
.lmbody h1{
    position: relative;
    width: 90%;
    height: 18px;
    margin-left: 5%;
    top:10px;
    font-family: 'simhei';
    font-size: 20px;
    color:lightslategray;
    font-weight: 600;
    overflow: hidden;
    line-height: 18px;
}
.lmbody h1:hover{
    color: red;
    cursor: pointer;
    font-size: 16px;
}
.lmbody p{
    position: relative;
    width: 90%;
    height: 28px;
    margin-left: 5%;
    top:15px;
    font-family: 'simhei';
    font-size: 10px;
    color:gray;
    overflow: hidden;
}
.lmbody p:hover{
    color:lightblue;
    cursor: default;
    text-decoration: underline;
    width: 90%;
    height:40px;
}
.lspan{
    width:180px;
    height: 30px;
    position: absolute;
    margin-left: 10px;
    top:230px;

}
.lspan:hover{
    height:50px;
}
.lspan span{
    text-align: center;
    font-size: 14px;
    color: white;
    font-family: 'simhei';
    background-color: #e43747;
    border-radius: 2px;
    margin-right: 5px;
}
.lmbody .lprice{
    position: absolute;
    width: 90%;
    height:30px;
    margin-left: 10px;
    top:250px;
    font-family: 'KaiTi_GB2312';
    font-size:20px;
    color:#e43747;
    font-weight: 600;
}
.lprice small{
    font-size: 12px;
    color:gray;
    margin-left: 10px;
}
.lnum{
    font-size: 10px;
    color:gray;
    width: 100px;
    font-family: 'KaiTi_GB2312';
    position: absolute;
    top:280px;
    margin-left: 95px;
    text-align: right;

}
/*movie*/
.lmbody2{
    position: relative;
    width: 100%;
    height: 300px;
    top:-20px;
    overflow: hidden;
}
.lmbody2 ul{
    position: absolute;
    width: 100%;
    height: 100%;
}
.lmbody2 ul li{
    list-style: none;
    float: left;
    width: 200px;
    height:98%;
    margin-right: 20px;
    margin-bottom: 25px;
    border:2px solid #f9a1b7;
    border-radius: 5px;
}
.lmbody2 ul li:hover{
    border:2px solid red;
    cursor: pointer;
}
.lmbody2 img{
    position: relative;
    width: 100%;
    height:220px;
    top:0px;

}
.lmbody2 img:hover{
    cursor: pointer;
}
.lmbody2 h1{
    position: relative;
    width: 90%;
    height: 30px;
    margin-left: 5%;
    top:10px;
    font-family: 'kaiti_gb2312';
    font-size: 25px;
    color:darkblue;
    font-weight: 600;
    overflow: hidden;
    line-height: 30px;
    text-align: center;
}
.lmbody2 h1:hover{

    cursor: pointer;
}
.lmbody2 p{
    position: absolute;
    width: 90%;
    height: 35px;
    margin-left: 140px;
    top:260px;
    font-family: 'comic sans ms';
    font-size: 25px;
    color:#f9a1b7;
    overflow: hidden;
}
.lmbody2 span{
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: white;
    font-family: 'simhei';
    background-color: #f3929b;
    border-radius: 2px;
    margin-left: 0px;
    top:280px
}
/*ktv*/
.lmbody3{
    position: relative;
    width: 100%;
    height: 300px;
    top:-20px;
    overflow: hidden;
}
.lmbody3 ul{
    position: absolute;
    width: 100%;
    height: 100%;
}
.lmbody3 ul li{
    list-style: none;
    float: left;
    width: 200px;
    height:98%;
    margin-right: 20px;
    margin-bottom: 25px;
    border:2px solid #f9a1b7;
    border-radius: 5px;

}
.lmbody3 ul li:hover{
    border:2px solid #e43747;
}
.lmbody3 img{
    position: relative;
    width: 90%;
    margin-left: 5%;
    height:130px;
    top:10px;
    border-radius: 2px;
}
.lmbody3 img:hover{
    cursor: pointer;
}
.lmbody3 h1{
    position: relative;
    width: 90%;
    height: 20px;
    margin-left: 5%;
    top:15px;
    font-family: 'simhei';
    font-size: 20px;
    color:lightslategray;
    font-weight: 600;
    overflow: hidden;
    line-height: 18px;
    white-space:nowrap;
}
.lmbody3 h1:hover{
    color: red;
    cursor: pointer;
    font-size: 16px;
}
.lmbody3 p{
    position: relative;
    width: 90%;
    height: 15px;
    margin-left: 5%;
    margin-top: 2px;
    top:20px;
    font-family: 'simhei';
    font-size: 10px;
    color:gray;
    overflow: hidden;
}
.lmbody3 p:hover{
    color:lightblue;
    cursor: default;
    height: 26px;
}
.lmbody3 .lprice{
    position: absolute;
    width: 180px;
    height:30px;
    margin-left: 10px;
    top:230px;
    font-family: 'KaiTi_GB2312';
    font-size:26px;
    color:#e43747;
    font-weight: 600;
}
/*pingfen*/
.lscore{
    position: absolute;
    width:100px;
    height: 15px;
    margin-left: 15px;
    top:15px;
    font-family: 'simhei';
    font-size: 10px;
    font-size: 18px;
    color: blueviolet;
    margin-top: 260px;
    line-height:16px;
}
/*hotel*/
.lmbody4{
    position: relative;
    width: 100%;
    height: 250px;
    top:-20px;
    overflow: hidden;
}
.lmbody4 ul{
    position: absolute;
    width: 100%;
    height: 100%;
}
.lmbody4 ul li{
    list-style: none;
    float: left;
    width: 200px;
    height:98%;
    margin-right: 20px;
    margin-bottom: 25px;
    border:2px solid white;
    border-radius: 5px;

}
.lmbody4 ul li:hover{
    border:2px solid #e43747;
    cursor: pointer;
}
.lmbody4 img{
    position: relative;
    width: 98%;
    margin-left: 1%;
    height:120px;
    top:5px;

}
.lmbody4 img:hover{
    cursor: pointer;
}
.lmbody4 h1{
    position: relative;
    width: 100%;
    height: 20px;
    top:10px;
    font-family: 'simhei';
    font-size: 20px;
    color:lightslategray;
    font-weight: 600;
    overflow: hidden;
    line-height: 18px;
    white-space:nowrap;
}
.lmbody4 h1:hover{
    color: red;
    cursor: pointer;
    font-size: 16px;
}
.lmbody4 p{
    position: relative;
    width: 100%;
    height:28px;
    top:15px;
    font-family: 'simhei';
    font-size: 10px;
    color:gray;
    overflow: hidden;
}
.lmbody4 p:hover{
    height: 45px;
}
.lmbody4 .lprice{
    position: absolute;
    width: 200px;
    height:18px;
    top:200px;
    font-family: 'KaiTi_GB2312';
    font-size:20px;
    line-height: 20px;
    color:#e43747;
    font-weight: 600;
    border-bottom: 1px solid darkgray;
}
.lmbody4 .lprice div{
    float: left;
    width: 66px;
    height: 100%;
}
.lmbody4 .lprice .ltime{
    text-align: right;
}
.lmbody4 .lspan{
    margin-top: -10px;
    margin-left: 0px;
}

.lmbody4 .lscore{
    margin-top: 210px;
    margin-left: 0px;
    font-size: 16px;
}
.lmbody4 .lsale{
    font-size: 14px;
    margin-top: -20px;
    margin-left: 120px;
    width: 80px;
    text-align: right;
}
/*waimai*/
.lmbody5{
    position: relative;
    width: 100%;
    height: 260px;
    top:-20px;
    overflow: hidden;
}
.lmbody5 ul{
    position: absolute;
    width: 100%;
    height: 100%;
}
.lmbody5 ul li{
    list-style: none;
    float: left;
    width: 200px;
    height:98%;
    margin-right: 20px;
    margin-bottom: 25px;
    border:2px solid #f9a1b7;
    border-radius: 5px;

}
.lmbody5 ul li:hover{
    border:2px solid #e43747;
}
.lmbody5 img{
    position: relative;
    width: 100%;
    height:120px;
    top:0px;
    border-radius: 2px;
}
.lmbody5 img:hover{
    cursor: pointer;
}
.lmbody5 h1{
    position: relative;
    width: 100%;
    height: 20px;
    margin-left: 1%;
    top:10px;
    font-family: 'simhei';
    font-size: 20px;
    color:lightslategray;
    font-weight: 600;
    overflow: hidden;
    line-height: 18px;
    white-space:nowrap;
}
.lmbody5 h1:hover{
    cursor: pointer;
}
.lmbody5 p{
    position: relative;
    width: 100%;
    height: 20px;
    margin-left: 1%;
    top:20px;
    font-family: 'simhei';
    font-size: 10px;
    color:gray;
    overflow: hidden;
}
.lmbody5 .lprice{
    position: absolute;
    width: 200px;
    height:18px;

    top:210px;
    font-family: 'KaiTi_GB2312';
    font-size:12px;
    line-height: 20px;
    color:gray;
    border-bottom: 1px solid darkgray;
}
.lmbody5 .lprice div{
    float: left;
    width: 60px;
    height: 100%;
    margin-left: 5px;
}
.lmbody5 .lprice .ltime{
    text-align: right;
}
.lmbody5 .lspan{
    margin-top: 0px;
    margin-left: 5px;
}

.lmbody5 .lscore{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 16px;
}
.lmbody5 .lsale{
    font-size: 14px;
    margin-top: -20px;
    margin-left: 120px;
    width: 80px;
    text-align: right;
}
#footer{
    position: absolute;
    top:2800px;
    width: 100%;
    height: 100px;
    background-color: darkred;
}
@media screen and (max-width: 960px){
    .lsytop{width:960px}
    .lsynav{width:960px}
    .lsynav2{width:960px}
    .lsypics{     left:30px;
        margin-left:0px;}
    .lsymodel{
        left:30px;
        margin-left:0px;
    }
    #footer{
        width: 960px;
    }
}