.lsybody2{

}
.lsynav-h{
    position: absolute;
    left:80px;
    top:250px;
    width: 100px;
    height:auto;
    border-radius: 2px;
    z-index: 10;
}
.lsynav-h2{
    position: fixed!important;
    top:100px!important;
}
.lsynav-h ul{
    width:100%;
    margin-bottom: 2px;
}
.lsynav-h ul:hover{

}
.lsynav-h ul li{
    list-style: none;
    width: 100%;
    height:20px;
    margin-bottom: 4px;
    background: white;
    border-radius: 2px;
    border: 1px dashed #ff6b87;
    font-family: 'microsoft yahei';
    text-align: center;
    font-size: 16px;
    color: #ff6b87;
    line-height:20px;
    overflow: hidden;
    transition: all linear 0.25s;
    cursor: pointer;
}
.lihide{
    height: 0px!important;
    border: 0px dashed #ff6b87!important;
}
.nav-head{
    width: 100%;
    height:30px!important;
    background: white;
    border-radius: 2px;
    border: 1px solid #ff6b87!important;
    font-family: 'microsoft yahei';
    line-height:30px!important;
    text-align: center;
    font-size: 20px!important;
    color: gray!important;
}
.nav-head:hover{
    cursor: pointer;
}
.lsylist-all{
    position: absolute;
    width: 850px;
    height: 1200px;
    top:250px;
    left:50%;
    margin-left: -350px;
    border: 1px dashed #e43747;
    border-radius: 5px;
    z-index: 9;
}
.lmbody{
    height: 100%!important;
    position: absolute!important;
    top:0px!important;
    left: 0px!important;
}
#taobao .lmbody li{
    margin-right: 10px!important;
    height: 300px!important;
    margin-bottom: 10px!important;
}
#jumei .lmbody li{
    margin-left: 10px!important;
    margin-bottom: 10px!important;
}
#yihaodian .lmbody li{
    margin-left: 10px!important;
    margin-right: 10px!important;
    height: 300px!important;
    margin-bottom: 10px!important;
}
#mogujie .lmbody li{
    margin-left: 10px!important;
    margin-bottom: 10px!important;
}
#yamaxun .lmbody li{
    margin-right: 10px!important;
    height: 300px!important;
    margin-bottom: 10px!important;
}