<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <link rel="stylesheet" href="css/css.css" type="text/css"/>
    <title>INDEX</title>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div ng-app="lsyApp" class="lsyapp">
<!--top-->
<div class="lsytop" ng-controller="ltop">
    <div class="lsylogin">请登录or 注册</div>
    <ul>
        <li>更多建议</li>
        <li>关注我们</li>
        <li class="fontred" ng-mouseover="wx=!wx" ng-mouseleave="wx=!wx">微信</li>
    </ul>
    <div class="lsywx" ng-class="{wx2:wx}"><img src="image/erweima.png" width="100%" height="100%"/></div>
</div>
<div class="lsylogo">
    <img src=""/>
</div>
<!--nav-->
<div id="nav" class="lsynav" ng-controller="lnav" ng-mouseleave="count=1">
    <ul>
        <li ng-class="{lsyhover:choose(count,1)}" ng-mouseover="count=1">惠购物</li>
        <li ng-class="{lsyhover:choose(count,2)}" ng-mouseover="count=2">汇周边</li>
        <li ng-class="{lsyhover:choose(count,3)}" ng-mouseover="count=3">慧小说</li>
    </ul>
    <div class="lsyuser">
        <img src="image/2.jpg" width="100%" height="100%"/>
        <div class="lsyname">这是只狗</div>
        <div class="lsytrib">话题讨论</div>
    </div>
    <div class="lsynav-s">
        <ul ng-hide="!choose(count,1)">
            <li ng-click="goto(1)">淘宝</li>
            <li ng-click="goto(2)">聚美优品</li>
            <li ng-click="goto(3)">一号店</li>
            <li ng-click="goto(4)">蘑菇街</li>
            <li ng-click="goto(5)">亚马逊</li>
        </ul>
        <ul ng-hide="!choose(count,2)">
            <li>美食</li>
            <li>电影</li>
            <li>ktv</li>
            <li>旅店</li>
            <li>外卖</li>
        </ul>
        <ul ng-hide="!choose(count,3)">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ul>
        <div class="lsymsg" ng-click="msgtoggle()">消息栏</div>
        <div class="lsymsglist" ng-class="{msghide:msglist}"></div>
    </div>
</div>
<div class="lsybody">
<!--pic-->
<div class="lsypics lsypgw" ng-controller="lpic">
    <div class="lsypt">
        <ul>
            <li><p class="listtitle">今日排行榜</p></li>
            <li><span>1</span><a href="/">曼言</a></li>
            <li><span>2</span><a href="/">曼言</a></li>
            <li><span>3</span><a href="/">曼言</a></li>
            <li><span>4</span><a href="/">曼言</a></li>
            <li><span>5</span><a href="/">曼言</a></li>
            <li><span>6</span><a href="/">曼言</a></li>
            <li><span>7</span><a href="/">曼言</a></li>
            <li><span>8</span><a href="/">曼言</a></li>
            <li><span>9</span><a href="/">曼言</a></li>
            <li><span style="margin-left: -100px;">10</span><a href="/">曼言</a></li>
        </ul>
    </div>
    <div class="lsypi" ng-hide="!judgement(ptype,1)">
        <div class="lsyp"  ng-class="{lsyphd:change(number,1)}"> <div class="lsybq">淘宝</div><img src="image/hgw/bgtb603201.jpg"/></div>
        <div class="lsyp"  ng-class="{lsyphd:change(number,2)}"> <div class="lsybq">聚美优品</div><img src="image/hgw/bgjm603201.jpg"/></div>
        <div class="lsyp"  ng-class="{lsyphd:change(number,3)}"> <div class="lsybq">一号店</div><img src="image/hgw/bg1hd603201.jpg"/></div>
        <div class="lsyp"  ng-class="{lsyphd:change(number,4)}"> <div class="lsybq">蘑菇街</div><img src="image/hgw/bgmgj603201.jpg"/></div>
        <div class="lsyp"  ng-class="{lsyphd:change(number,5)}"> <div class="lsybq">亚马逊</div><img src="image/hgw/bgymx603201.jpg"/></div>
        <div class="lsyp-s">
            <div class="lsyp-sp" ng-class="{lsypsphd:!change(number,1)}" ng-mouseover="number=1"><img src="image/hgw/bgtb603201.jpg"/></div>
            <div class="lsyp-sp" ng-class="{lsypsphd:!change(number,2)}" ng-mouseover="number=2"><img src="image/hgw/bgjm603201.jpg"/></div>
            <div class="lsyp-sp" ng-class="{lsypsphd:!change(number,3)}" ng-mouseover="number=3"><img src="image/hgw/bg1hd603201.jpg"/></div>
            <div class="lsyp-sp" ng-class="{lsypsphd:!change(number,4)}" ng-mouseover="number=4"><img src="image/hgw/bgmgj603201.jpg"/></div>
            <div class="lsyp-sp" ng-class="{lsypsphd:!change(number,5)}" ng-mouseover="number=5"><img src="image/hgw/bgymx603201.jpg"/></div>
        </div>
    </div>
</div>
<!--model-->
<div class="lsymodel" ng-controller="lmodel">
<!--delicious-->
<div class="lsydel" id="meishi">
    <div class="lmhead">
        <div class="lmfont">今日美食</div>
        <ul>
            <li>更多</li>
            <li ng-class="{lsyhov:!change(delcount,3)}" ng-click="delcount = 3">百度糯米</li>
            <li ng-class="{lsyhov:!change(delcount,2)}" ng-click="delcount = 2">大众点评</li>
            <li ng-class="{lsyhov:!change(delcount,1)}" ng-click="delcount = 1">美团</li>
        </ul>
    </div>
    <div class="lmurl">以下链接来自于 <a href="/">{{delurl}}...</a></div>
    <div class="lmbody">
        <ul ng-hide="change(delcount,1)">
            <li>
                <img src="image/mtms603171.jpg"/>
                <h1>小猪头自助火锅烧烤</h1>
                <p>江干区新塘路108号天虹购物中心A座5楼（第七街1973口子电梯直达5楼...支持WIFI</p>
                <div class="lspan"><span>团</span></div>
                <div class="lprice">￥59<small>起</small></div>
                <div class="lnum">9005人评价</div>
            </li>
            <li>
                <img src="image/mtms603172.jpg"/>
                <h1>品宫纸上烧烤（三墩香港城店）</h1>
                <p>西湖区三墩镇厚仁路新天地商业中心3幢一楼</p>
                <div class="lspan"><span>团</span></div>
                <div class="lprice">￥53<small>起</small></div>
                <div class="lnum">12294人评价</div>
            </li>
            <li>
                <img src="image/mtms603173.jpg"/>
                <h1>相约春天自助烤肉火锅</h1>
                <p>萧山区西河路162号（凯豪大酒店斜对面汉庭酒店2楼）</p>
                <div class="lspan"><span>团</span></div>
                <div class="lprice">￥39.8<small>起</small></div>
                <div class="lnum">16284人评价</div>
            </li>
            <li>
                <img src="image/mtms603174.jpg"/>
                <h1>青藤茶馆（元华店）</h1>
                <p>上城区南山路278号元华广场2楼(一公园对面) </p>
                <div class="lspan"><span>团</span><span>券</span></div>
                <div class="lprice">￥68<small>起</small></div>
                <div class="lnum">7654人评价</div>
            </li>
        </ul>
        <ul ng-hide="change(delcount,2)">
            <li>
                <img src="image/dianping/ms603191.jpg"/>
                <h1>[11店通用] 锅内锅外</h1>
                <p>仅售79元！价值89元的自助晚餐，提供免费WiFi。吃货的美食，牛人的自助，带领港式海鲜自助新时代，让你吃在锅内，看在锅外！。</p>
                <div class="lspan"><span>免预约</span></div>
                <div class="lprice">¥79<small style="text-decoration:line-through;">¥89</small></div>
                <div class="lnum">已售166259</div>
            </li>
            <li>
                <img src="image/dianping/ms603192.jpg"/>
                <h1>[10店通用] 山葵家精致料理寿司吧</h1>
                <p>仅售85元！价值100元的代金券1张，全场通用，可叠加使用3张，提供免费WiFi。</p>
                <div class="lspan"><span>免预约</span></div>
                <div class="lprice">¥85<small style="text-decoration:line-through;">¥100</small></div>
                <div class="lnum">已售169860</div>
            </li>
            <li>
                <img src="image/dianping/ms603193.jpg"/>
                <h1>[24店通用] 小猪猪</h1>
                <p>仅售88元，价值100元代金券，不限时段通用，除饮料、酒水外全场通用，独家合作！限量抢购！</p>
                <div class="lspan"><span>免预约</span></div>
                <div class="lprice">¥69<small style="text-decoration:line-through;">¥79</small></div>
                <div class="lnum">已售85918</div>
            </li>
            <li>
                <img src="image/dianping/ms603194.jpg"/>
                <h1>[8店通用] 潮牛海记</h1>
                <p>仅售76元！价值100元的午市代金券1份，除酒水、饮料外全场通用，可叠加使用，可免费使用包间，提供免费WiFi。</p>
                <div class="lspan"><span>免预约</span></div>
                <div class="lprice">¥76<small style="text-decoration:line-through;">¥100</small></div>
                <div class="lnum">已售57504</div>
            </li>
        </ul>
        <ul ng-hide="change(delcount,3)">
            <li>
                <img src="image/nuomi/ms603191.jpg"/>
                <h1>芭菲盛宴 </h1>
                <p>仅售173元，价值198元杭州店单人自助晚餐！提前2小时预约，提供免费无线WiFi！</p>
                <div class="lspan"><span>立减8元</span></div>
                <div class="lprice">¥173<small style="text-decoration:line-through;">价值¥198</small></div>
                <div class="lnum">已售13779</div>
            </li>
            <li>
                <img src="image/nuomi/ms603192.jpg"/>
                <h1>咬不得高祖生煎</h1>
                <p>仅售28元，价值30元代金券！可叠加使用，节假日通用！</p>
                <div class="lspan"><span></span></div>
                <div class="lprice">¥28<small style="text-decoration:line-through;">价值¥30</small></div>
                <div class="lnum">已售13779</div>
            </li>
            <li>
                <img src="image/nuomi/ms603193.jpg"/>
                <h1>【6店通用】锅内锅外</h1>
                <p>仅售69元，价值79元单人自助午餐！节假日通用，提供免费WiFi！</p>
                <div class="lspan"><span></span></div>
                <div class="lprice">¥69<small>价值¥79</small></div>
                <div class="lnum">已售16921</div>
            </li>
            <li>
                <img src="image/nuomi/ms603194.jpg"/>
                <h1>【2店通用】嗨漾自助美食</h1>
                <p>仅售69元，价值79元单人晚餐自助全新升级！周六周日全场通用！店内提供免费无线WiFi！</p>
                <div class="lspan"><span></span></div>
                <div class="lprice">¥69<small>价值¥79</small></div>
                <div class="lnum">已售22806</div>
            </li>
        </ul>
    </div>
    <!--<div class="lmfoot">加载更多</div>-->
</div>
<!--movie-->
<div class="lsydel" id="dianying">
    <div class="lmhead">
        <div class="lmfont">热门电影</div>
        <ul>
            <li>更多</li>
            <li ng-class="{lsyhov:!change(filmcount,3)}" ng-click="filmcount = 3">百度糯米</li>
            <li ng-class="{lsyhov:!change(filmcount,2)}" ng-click="filmcount = 2">大众点评</li>
            <li ng-class="{lsyhov:!change(filmcount,1)}" ng-click="filmcount = 1">美团</li>
        </ul>
    </div>
    <div class="lmurl">以下链接来自于 <a href="/">{{delurl}}...</a></div>
    <div class="lmbody2">
        <ul ng-hide="change(filmcount,1)">
            <li>
                <img src="image/mtdy603171.jpg"/>
                <h1>荒野猎人</h1>
                <span>预售</span>
                <p>0.0</p>
            </li>
            <li>
                <img src="image/mtdy603172.jpg"/>
                <h1>疯狂动物园</h1>
                <span>购票</span>
                <p>9.5</p>
            </li>
            <li>
                <img src="image/mtdy603173.jpg"/>
                <h1>蝙蝠侠大战超人</h1>
                <span>预售</span>
                <p>0.0</p>
            </li>
            <li>
                <img src="image/mtdy603174.jpg"/>
                <h1>女汉子真爱公式</h1>
                <span>预售</span>
                <p>0.0</p>
            </li>
        </ul>
        <ul ng-hide="change(filmcount,2)">
            <li>
                <img src="image/dianping/dy603191.jpg"/>
                <h1>荒野猎人</h1>
                <span>正在热映</span>
                <p>8.5</p>
            </li>
            <li>
                <img src="image/dianping/dy603192.jpg"/>
                <h1>疯狂动物城</h1>
                <span>正在热映</span>
                <p>9.2</p>
            </li>
            <li>
                <img src="image/dianping/dy603193.jpg"/>
                <h1>飞鹰艾迪</h1>
                <span>正在热映</span>
                <p>7.8</p>
            </li>
            <li>
                <img src="image/dianping/dy603194.jpg"/>
                <h1>神战：权力之眼</h1>
                <span>正在热映</span>
                <p>8.7</p>
            </li>
        </ul>
        <ul ng-hide="change(filmcount,3)">
            <li>
                <img src="image/3.jpg"/>
                <h1>叶问3</h1>
                <p>8.9</p>
            </li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<!--ktv-->
<div class="lsydel" id="kge">
    <div class="lmhead">
        <div class="lmfont">娱乐K歌</div>
        <ul>
            <li>更多</li>
            <li ng-class="{lsyhov:!change(ktvcount,3)}" ng-click="ktvcount = 3">百度糯米</li>
            <li ng-class="{lsyhov:!change(ktvcount,2)}" ng-click="ktvcount = 2">大众点评</li>
            <li ng-class="{lsyhov:!change(ktvcount,1)}" ng-click="ktvcount = 1">美团</li>
        </ul>
    </div>
    <div class="lmurl">以下链接来自于 <a href="/">{{delurl}}...</a></div>
    <div class="lmbody3">
        <ul ng-hide="change(ktvcount,1)">
            <li>
                <img src="image/mtkg603171.jpg"/>
                <h1>格莱美MusicParty（新美店）</h1>
                <p style="color:black;">[江干区下沙经济开发区4号大街物美商城4楼]</p>
                <p>支持WIFI 免费提供50个停车位</p>
                <div class="lprice">¥9<small>起</small></div>
                <div class="lscore">3.8分</div>
                <div class="lnum">人均 ¥34</div>
            </li>
            <li>
                <img src="image/mtkg603172.jpg"/>
                <h1>豪歌迪量贩KTV（近江店）</h1>
                <p style="color:black;">[上城区秋涛路491号杭州礼品城3楼（近近江路]</p>
                <p>支持WIFI 停车位收费标准：每间包厢凭停车卡报销5元</p>
                <div class="lprice">¥19.9<small>起</small></div>
                <div class="lscore">3.8分</div>
                <div class="lnum">人均 ¥21</div>
            </li>
            <li>
                <img src="image/mtkg603173.jpg"/>
                <h1>歌米量贩KTV</h1>
                <p style="color:black;">[西湖区莲花路333号莲花商务中心北楼4楼(文三西路口)]</p>
                <p>支持WIFI 商家服务：停车位收费标准：提供大型地下停车场凭团购券另付6元兑换1张24小时停车券</p>
                <div class="lprice">¥9<small>起</small></div>
                <div class="lscore">4.4分</div>
                <div class="lnum">人均 ¥30</div>
            </li>
            <li>
                <img src="image/mtkg603174.jpg"/>
                <h1>哆唻咪量贩KTV（高教园旗舰店）</h1>
                <p style="color:black;">[滨江区高教园商业街4号楼(近华润超市)]</p>
                <p>支持WIFI </p>
                <div class="lprice">¥29<small>起</small></div>
                <div class="lscore">4.4分</div>
                <div class="lnum">人均 ¥31</div>
            </li>
        </ul>
        <ul ng-hide="change(ktvcount,2)">
            <li>
                <img src="image/dianping/ktv603191.jpg"/>
                <h1>V-SHOW主题KTV(杭州黄龙旗舰店)（新美店）</h1>
                <p style="color:black;">[西湖北线/黄龙] [玉古路168号1F-2F（玉古路与西溪路交叉口）(黄龙体育馆旁)]</p>
                <p>仅售50元，价值445元下午/黄金档欢唱套餐，免费WiFi！</p>
                <div class="lprice">¥50<small style="text-decoration: line-through"> ¥445</small></div>
                <div class="lscore">4.6分</div>
                <div class="lnum">已售7226</div>
            </li>
            </li>
            <li>
                <img src="image/dianping/ktv603192.jpg"/>
                <h1>银乐迪INLOVE KTV</h1>
                <p style="color:black;">[凤起路沿线] [建国北路281号双牛大厦5楼(近凤起路)]</p>
                <p>仅售49元，价值720元白天档/黄金档/凌晨档欢唱套餐，免开机费，免费WiFi！</p>
                <div class="lprice">¥49<small style="text-decoration: line-through"> ¥720</small></div>
                <div class="lscore">4.7分</div>
                <div class="lnum">已售390</div>
            </li>
            <li>
                <img src="image/dianping/ktv603193.jpg"/>
                <h1>银乐迪INLOVE KTV</h1>
                <p style="color:black;">[湖滨] [延安路135号涌金广场3楼(近西湖大道)]</p>
                <p>仅售49元，价值606元全天三个时段欢唱套餐，免开机费，免费WiFi！</p>
                <div class="lprice">¥49<small style="text-decoration: line-through"> ¥606</small></div>
                <div class="lscore">4.3分</div>
                <div class="lnum">已售726</div>
            </li>
            <li>
                <img src="image/dianping/ktv603194.jpg"/>
                <h1>银乐迪INLOVE KTV（水晶城店）</h1>
                <p style="color:black;">[水晶城] [上塘路458号水晶城6楼(上塘路)]</p>
                <p>仅售68元，价值300元周日至周四19：00-24：00欢唱3小时，免费WiFi！</p>
                <div class="lprice">¥68<small style="text-decoration: line-through"> ¥300</small></div>
                <div class="lscore">4.6分</div>
                <div class="lnum">已售3128</div>
            </li>
        </ul>
        <ul ng-hide="change(ktvcount,3)">
            <li>
                <img src="image/3.jpg"/>
                <h1>温莎KTV</h1>
                <p style="color:black;">[杭州市拱墅区湖墅南路90号湖墅南路和文晖路交叉口，武林壹号旁]</p>
                <p>仅售49元，价值198元湖墅南路店欢唱券！节假日通用！</p>
                <div class="lprice">¥49<small style="text-decoration:line-through;">¥198</small></div>
                <div class="lscore">5.0分</div>
                <div class="lnum">已售390</div>
            </li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<!--hotel-->
<div class="lsydel" id="zhusu">
    <div class="lmhead">
        <div class="lmfont">旅店住宿</div>
        <ul>
            <li>更多</li>
            <li ng-class="{lsyhov:!change(hotelcount,3)}" ng-click="hotelcount = 3">百度糯米</li>
            <li ng-class="{lsyhov:!change(hotelcount,2)}" ng-click="hotelcount = 2">大众点评</li>
            <li ng-class="{lsyhov:!change(hotelcount,1)}" ng-click="hotelcount = 1">美团</li>
        </ul>
    </div>
    <div class="lmurl">以下链接来自于 <a href="/">{{delurl}}...</a></div>
    <div class="lmbody4">
        <ul ng-hide="change(hotelcount,1)">
            <li>
                <img src="image/mtld603171.jpg"/>
                <h1>太湖源东坑村世方家园</h1>
                <p style="color:black;">[临安市太湖源镇东坑村11号]</p>
                <div class="lprice">¥49<small>起</small></div>
                <div class="lscore">5/5分</div>
                <div class="lnum"></div>
            </li>
            <li>
                <img src="image/mtld603172.jpg"/>
                <h1>康都宾馆  </h1>
                <p style="color:black;">[余杭区联兴路30号]</p>
                <div class="lprice">¥88<small>起</small></div>
                <div class="lscore">5/5分</div>
                <div class="lnum"></div>
            </li>
            <li>
                <img src="image/mtld603173.jpg"/>
                <h1>祥发假日酒店 经济型 </h1>
                <p style="color:black;">[萧山区临浦东藩中路15号]</p>
                <div class="lprice">¥139<small>起</small></div>
                <div class="lscore">4.1/5分</div>
                <div class="lnum"></div>
            </li>
            <li>
                <img src="image/mtld603174.jpg"/>
                <h1>仙聚旅馆 经济型 </h1>
                <p style="color:black;">[拱墅区香积寺西路329号]</p>
                <div class="lprice">¥49<small>起</small></div>
                <div class="lscore">4/5分</div>
                <div class="lnum"></div>
            </li>
        </ul>
        <ul ng-hide="change(hotelcount,2)">
            <li>
                <img src="image/dianping/ld603191.jpg"/>
                <h1>杭州西溪宾馆1晚+双人豪华自助晚餐/西溪湿地门船票</h1>
                <p style="color:black;">[4店通用] 【周日至周五】景观房1晚+双人自助晚餐/西溪湿地门船票！含双早，免费WiFi！</p>
                <div class="lprice">¥998<small style="text-decoration:line-through;">3618</small></div>
                <div class="lscore">555条评价</div>
                <div class="lnum">已售2350</div>
            </li>
            </li>
            <li>
                <img src="image/dianping/ld603192.jpg"/>
                <h1>[西湖北线/黄龙] 威廉的太妃糖酒店</h1>
                <p style="color:black;">甜心精致房住宿1晚，可连续入住，免费WiFi！！</p>
                <div class="lprice">¥288<small style="text-decoration:line-through;">¥368</small></div>
                <div class="lscore">31条评价</div>
                <div class="lnum">已售241</div>
            </li>
            <li>
                <img src="image/dianping/ld603193.jpg"/>
                <h1>杭州素舍精品酒店</h1>
                <p style="color:black;">[拱宸桥/上塘]星辰大床房1晚，免费WiFi！</p>
                <div class="lprice">¥318<small style="text-decoration:line-through;">¥788</small></div>
                <div class="lscore">91条评价</div>
                <div class="lnum">已售684</div>
            </li>
            <li>
                <img src="image/dianping/ld603194.jpg"/>
                <h1>杭州汇和君亭酒店</h1>
                <p style="color:black;">[城东]豪华大床房1晚，免费WiFi！不含早！（另有其他套餐可选）</p>
                <div class="lprice">¥369<small style="text-decoration:line-through;">¥1388</small></div>
                <div class="lscore">56条评价</div>
                <div class="lnum">已售422</div>
            </li>
        </ul>
        <ul ng-hide="change(hotelcount,3)">
            <li>
                <img src="image/2.jpg"/>
                <h1>杭州西湖柒号酒店式公寓西湖店 高级房</h1>
                <p style="color:black;">尊享杭州西湖柒号酒店式公寓西湖店高级房1晚＋洗衣机和自助厨房免费使用＋免费</p>
                <div class="lprice">¥238<small style="text-decoration:line-through;">价值¥680</small></div>
                <div class="lscore">暂无评分</div>
                <div class="lnum">已售996</div>
            </li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<!--waimai-->
<div class="lsydel" id="waimai">
    <div class="lmhead">
        <div class="lmfont">便利外卖</div>
        <ul>
            <li>更多</li>
            <li ng-class="{lsyhov:!change(salecount,3)}" ng-click="salecount = 3">百度糯米</li>
            <li ng-class="{lsyhov:!change(salecount,2)}" ng-click="salecount = 2">大众点评</li>
            <li ng-class="{lsyhov:!change(salecount,1)}" ng-click="salecount = 1">美团</li>
        </ul>
    </div>
    <div class="lmurl">以下链接来自于 <a href="/">{{delurl}}...</a></div>
    <div class="lmbody5">
        <ul ng-hide="change(salecount,1)">
            <li>
                <img src="image/mtwm603171.jpg"/>
                <h1>巴西烤肉拌饭</h1>
                <p class="lscore">4.6分</p><p class="lsale">月售2792单</p>
                <div class="lprice">
                    <div>起送费￥0</div> <div>免配送费</div> <div class="ltime">36分钟</div>
                </div>
                <div class="lspan"><span>付</span><span>首</span><span>减</span></div>
            </li>
            <li>
                <img src="image/mtwm603172.jpg"/>
                <h1>冤大头（抓饭）</h1>
                <p class="lscore">4.9分</p><p class="lsale">月售622单</p>
                <div class="lprice">
                    <div>起送费￥0</div> <div>免配送费</div> <div class="ltime">29分钟</div>
                </div>
                <div class="lspan"><span>付</span><span>首</span><span>减</span></div>
            </li>
            <li>
                <img src="image/mtwm603173.jpg"/>
                <h1>爱星堡</h1>
                <p class="lscore">4.8分</p><p class="lsale">月售2803单</p>
                <div class="lprice">
                    <div>起送费￥10</div> <div>免配送费</div> <div class="ltime">33分钟</div>
                </div>
                <div class="lspan"><span>付</span><span>首</span><span>减</span></div>
            </li>
            <li>
                <img src="image/mtwm603174.jpg"/>
                <h1>馋味小镇</h1>
                <p class="lscore">4.7分</p><p class="lsale">月售926单</p>
                <div class="lprice">
                    <div>起送费￥9</div> <div>免配送费</div> <div class="ltime">29分钟</div>
                </div>
                <div class="lspan"><span>付</span><span>首</span><span>减</span></div>
            </li>
        </ul>
        <ul ng-hide="change(salecount,2)">
            <li>

            </li>
            <li>

            </li>
            <li></li>
            <li></li>
        </ul>
        <ul ng-hide="change(salecount,3)">
            <li>

            </li>
            <li>

            </li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
</div>
</div>
<div id="footer">

</div>
</div>
<script type="text/javascript">
    document.onscroll =function(){
        var navi=document.getElementById('nav');
        var navs=document.getElementsByName('lsynav-s');
        if(document.body.scrollTop>150){
            navi.className ='lsynav2 lsynav';
        }else{
            navi.className ='lsynav';
        }
    }
    var app = angular.module('lsyApp',['ngAnimate']);
    app.controller('lmodel',function($scope){
        $scope.delcount = 1;
        $scope.filmcount = 1;
        $scope.ktvcount = 1;
        $scope.hotelcount = 1;
        $scope.salecount = 1;
        $scope.delurl = 'www.meituan.com';
        $scope.change = function(value,judge){
            if(value==1){ $scope.delurl = 'www.meituan.com';}
            if(value==2){ $scope.delurl = 'https://www.dianping.com/';}
            if(value==3){ $scope.delurl = '百度糯米';}
            if(value==judge)return false;
            else{return true;}
        };
    });
    app.controller('ltop',function($scope){
        $scope.wx=true;
    })
    app.controller('lpic',function($scope, $interval){
        $scope.number = 1;
        $scope.ptype = 1;
        $scope.change = function(value,judge){
//            if(value==0){value=3;
//                $scope.number = 3;}
//            if(value==4){value=1;
//                $scope.number = 1;}
            if(value==judge)return false;
            else{return true;}
        };
        $scope.judgement=function(count,value){
            if(count==value)
            {
                return true;
            }else return false;
        };
        $interval(function () {
            $scope.number ;
        }, 5000);
    });
    app.controller('lnav',function($scope){
        $scope.count =1;
//        $scope.types=[{text:"美食",id:"meishi"},{text:"K歌",id:"kge"},{text:"电影",id:"dianying"},
//            {text:"住宿",id:"zhusu"},{text:"外卖",id:"waimai"}];

        $scope.msglist=true;
        $scope.msgtoggle=function(){
            $scope.msglist=!$scope.msglist;
        }
        $scope.choose=function(count,value){
            if(count==value)
            {
                return true;
            }else return false;
        }

        $scope.goto=function(count,$animate){
            //  alert( document.body.scrollTop);
            var body= document.body;
            //   var top=  angular.element(body).animate({ scrollTop: 550 }, 100);
//            $animate.enter(document.body).then(function() {
//                $scope.scrollTop = 550;
//            });
            // alert(top);
            var top = 550+(count-1)*430;
            body.scrollTop=550+(count-1)*430;
        }
    });
</script>
</body>
</html>