<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/css.css" type="text/css"/>
    <title>HGT</title>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div ng-app="lsyApp" class="lsyapp" ng-controller="lbody">
    <!--top-->
    <div id="login"></div>
    <!--<div class="back"></div>-->
    <div class="lsytop" ng-controller="ltop">
        <div class="lsylogin" onclick="loadLogin('loginE.html')">请登录or 注册</div>
        <ul>
            <li>我们的app</li>
            <li>更多建议</li>
            <li>关注我们</li>
            <li class="fontred" ng-mouseover="wx=!wx" ng-mouseleave="wx=!wx">微信</li>
        </ul>
        <div class="lsywx" ng-class="{wx2:!wx}"><img src="image/erweima.png" width="100%" height="100%"/></div>
    </div>
    <div class="lsylogo">
        <!--<img src="image/logo.jpg" width="110px" height="110px"/>-->
    </div>
    <!--nav-->
    <div id="nav" class="lsynav" ng-mouseleave="count=noc">
        <ul>
            <li ng-class="{lsyhover:choose(count,1)}" ng-mouseover="count=1" ng-click="noc=1;mbody='hgw.html';totop()">惠购物</li>
            <li ng-class="{lsyhover:choose(count,2)}" ng-mouseover="count=2" ng-click="noc=2;mbody='hfj.html';totop()">汇周边</li>
            <li ng-class="{lsyhover:choose(count,3)}" ng-mouseover="count=3" ng-click="noc=3;mbody='hxs.html';totop()">慧小说</li>
        </ul>
        <div class="lsyuser">
            <img src="image/2.jpg" width="100%" height="100%"/>
            <div class="lsyname">开发monkey</div>
            <div class="lsytrib">话题讨论</div>
        </div>
        <div class="lsynav-s">
            <ul ng-hide="!choose(count,1)">
                <li ng-click="noc=1;mbody='hgw.html';goto(1)">淘宝</li>
                <li ng-click="noc=1;mbody='hgw.html';goto(2)">聚美优品</li>
                <li ng-click="noc=1;mbody='hgw.html';goto(3)">一号店</li>
                <li ng-click="noc=1;mbody='hgw.html';goto(4)">蘑菇街</li>
                <li ng-click="noc=1;mbody='hgw.html';goto(5)">亚马逊</li>
            </ul>
            <ul ng-hide="!choose(count,2)">
                <li ng-click="noc=2;mbody='hfj.html';goto(1)">美食</li>
                <li ng-click="noc=2;mbody='hfj.html';goto(2)">电影</li>
                <li ng-click="noc=2;mbody='hfj.html';goto(3)">ktv</li>
                <li ng-click="noc=2;mbody='hfj.html';goto(4)">旅店</li>
                <li ng-click="noc=2;mbody='hfj.html';goto(5)">外卖</li>
            </ul>
            <ul ng-hide="!choose(count,3)">
                <li ng-click="noc=3;mbody='hxs.html';goto2(1)">起点</li>
                <li ng-click="noc=3;mbody='hxs.html';goto2(2)">纵横</li>
                <li ng-click="noc=3;mbody='hxs.html';goto2(3)">创世纪</li>
                <li ng-click="noc=3;mbody='hxs.html';goto2(4)">hao123</li>
            </ul>
            <div class="lsymsg" ng-click="msgtoggle()">消息栏</div>
            <div class="lsymsglist" ng-class="{msghide:!msglist}"></div>
        </div>
    </div>
    <div class="lsybody" id="mainbx" ng-include="mbody">

    </div>
    <div id="footer">
        <div class="lfpic"></div>
    </div>
</div>
<script type="text/javascript">
</script>
<script src="js/angular.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/ng.js"></script>
<script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="js/drag.js" type="text/javascript"></script>
</body>
</html>