<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/nglist.js"></script>
    <link rel="stylesheet" href="css/css.css" type="text/css"/>
    <link rel="stylesheet" href="css/second.css" type="text/css"/>
    <link rel="stylesheet" href="css/mobile.css" type="text/css"/>
    <title>第二层</title>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div ng-app="lsyApp" class="lsyapp" ng-controller="lalldate">
<!--top-->
<div class="lsytop" ng-controller="ltop">
    <div class="lsylogin">请登录or 注册</div>
    <ul>
        <li>更多建议</li>
        <li>关注我们</li>
        <li class="fontred" ng-mouseover="wx=!wx" ng-mouseleave="wx=!wx">微信</li>
    </ul>
    <div class="lsywx" ng-class="{wx2:wx}"><img src="image/erweima.png" width="100%" height="100%"/></div>
</div>
<div class="lsylogo">
</div>
    <div class="nav-mobile" >
        <ul>
            <li ng-class="{lsyhover:choose(count2,1)}" ng-click="url='pages/taobao.html';totop();count=1;count2=1">惠购物</li>
            <li ng-class="{lsyhover:choose(count2,2)}" ng-click="url='pages/meishi.html';totop();count=1;count2=2" >汇周边</li>
            <li ng-class="{lsyhover:choose(count2,3)}" ng-click="url='pages/qidian.html';totop();count=1;count2=3" >慧小说</li>
            <li>我的</li>
        </ul>
    </div>
    <div class="lmhead2" ng-hide="change(count2,1)">
        <ul class="nav-s" ng-hide="change(counts,1)">
            <li ng-class="{lsyhov2:change(tbcount,1)}" ng-click="tbcount = 1">天天特价</li>
            <li ng-class="{lsyhov2:change(tbcount,2)}" ng-click="tbcount = 2">清仓</li>
            <li ng-class="{lsyhov2:change(tbcount,3)}" ng-click="tbcount = 3">抢新</li>
        </ul>
        <ul class="nav-s" ng-hide="change(counts,2)">
            <li ng-class="{lsyhov2:change(jmcount,1)}" ng-click="jmcount = 1">限时特卖</li>
            <li ng-class="{lsyhov2:change(jmcount,2)}" ng-click="jmcount = 2">极速免税</li>
        </ul>
        <ul class="nav-s" ng-hide="change(counts,3)">
            <li ng-class="{lsyhov2:change(ydhcount,1)}" ng-click="ydhcount = 1">团购</li>
            <li ng-class="{lsyhov2:change(ydhcount,2)}" ng-click="ydhcount = 2">海购新品</li>
        </ul>
        <ul class="nav-s" ng-hide="change(counts,4)">
            <li ng-class="{lsyhov2:change(mgjcount,1)}" ng-click="mgjcount = 1">快抢</li>
            <li ng-class="{lsyhov2:change(mgjcount,2)}" ng-click="mgjcount = 2">团购</li>
        </ul>
        <ul class="nav-s" ng-hide="change(counts,5)">
            <li ng-class="{lsyhov2:change(ymxcount,1)}" ng-click="ymxcount = 1">Z秒杀</li>
            <li ng-class="{lsyhov2:change(ymxcount,2)}" ng-click="ymxcount = 2">海外购</li>
        </ul>
        <ul class="nav-m" ng-hide="change(counts,1)" ng-init="clik=true" ng-class="{navm:clik}"  ng-click="clik=!clik">
            <li  ng-click="url='pages/taobao.html';totop(0);alert(url);counts=1">淘宝</li>
            <li  ng-click="url='pages/jumei.html';totop(0);alert(url);counts=2">聚美优品</li>
            <li  ng-click="url='pages/yihaodian.html';totop(0);alert(url);counts=3">一号店</li>
            <li  ng-click="url='pages/mogujie.html';totop(0);alert(url);counts=4">蘑菇街</li>
            <li  ng-click="url='pages/yamaxun.html';totop(0);alert(url);counts=5">亚马逊</li>
        </ul>
        <ul class="nav-m" ng-hide="change(counts,2)" ng-init="clik=true" ng-class="{navm:clik}"  ng-click="clik=!clik">
            <li  ng-click="url='pages/jumei.html';totop(0);alert(url);counts=2">聚美优品</li>
            <li  ng-click="url='pages/taobao.html';totop(0);alert(url);counts=1">淘宝</li>
            <li  ng-click="url='pages/yihaodian.html';totop(0);alert(url);counts=3">一号店</li>
            <li  ng-click="url='pages/mogujie.html';totop(0);alert(url);counts=4">蘑菇街</li>
            <li  ng-click="url='pages/yamaxun.html';totop(0);alert(url);counts=5">亚马逊</li>
        </ul>
        <ul class="nav-m" ng-hide="change(counts,3)" ng-init="clik=true" ng-class="{navm:clik}"  ng-click="clik=!clik">
            <li  ng-click="url='pages/yihaodian.html';totop(0);alert(url);counts=3">一号店</li>
            <li  ng-click="url='pages/taobao.html';totop(0);alert(url);counts=1">淘宝</li>
            <li  ng-click="url='pages/jumei.html';totop(0);alert(url);counts=2">聚美优品</li>
            <li  ng-click="url='pages/mogujie.html';totop(0);alert(url);counts=4">蘑菇街</li>
            <li  ng-click="url='pages/yamaxun.html';totop(0);alert(url);counts=5">亚马逊</li>
        </ul>
        <ul class="nav-m" ng-hide="change(counts,4)" ng-init="clik=true" ng-class="{navm:clik}"  ng-click="clik=!clik">
            <li  ng-click="url='pages/mogujie.html';totop(0);alert(url);counts=4">蘑菇街</li>
            <li  ng-click="url='pages/taobao.html';totop(0);alert(url);counts=1">淘宝</li>
            <li  ng-click="url='pages/jumei.html';totop(0);alert(url);counts=2">聚美优品</li>
            <li  ng-click="url='pages/yihaodian.html';totop(0);alert(url);counts=3">一号店</li>
            <li  ng-click="url='pages/yamaxun.html';totop(0);alert(url);counts=5">亚马逊</li>
        </ul>
        <ul class="nav-m" ng-hide="change(counts,5)" ng-init="clik=true" ng-class="{navm:clik}"  ng-click="clik=!clik">
            <li  ng-click="url='pages/yamaxun.html';totop(0);alert(url);counts=5">亚马逊</li>
            <li  ng-click="url='pages/taobao.html';totop(0);alert(url);counts=1">淘宝</li>
            <li  ng-click="url='pages/jumei.html';totop(0);alert(url);counts=2">聚美优品</li>
            <li  ng-click="url='pages/yihaodian.html';totop(0);alert(url);counts=3">一号店</li>
            <li  ng-click="url='pages/mogujie.html';totop(0);alert(url);counts=4">蘑菇街</li>
        </ul>
    </div>

<div class="lmhead2" ng-hide="change(count2,2)">
    <ul class="nav-s" ng-hide="change(counts,1)">
        <li ng-class="{lsyhov2:change(delcount,1)}" ng-click="delcount = 1">美团</li>
        <li ng-class="{lsyhov2:change(delcount,2)}" ng-click="delcount = 2">大众点评</li>
        <li ng-class="{lsyhov2:change(delcount,3)}" ng-click="delcount = 3">百度糯米</li>
    </ul>
    <ul class="nav-s" ng-hide="change(counts,2)">
        <li ng-class="{lsyhov2:change(filmcount,1)}" ng-click="filmcount = 1">美团</li>
        <li ng-class="{lsyhov2:change(filmcount,2)}" ng-click="filmcount = 2">大众点评</li>
        <li ng-class="{lsyhov2:change(filmcount,3)}" ng-click="filmcount = 3">百度糯米</li>
    </ul>
    <ul class="nav-s" ng-hide="change(counts,3)">
        <li ng-class="{lsyhov2:change(ktvcount,1)}" ng-click="ktvcount = 1">美团</li>
        <li ng-class="{lsyhov2:change(ktvcount,2)}" ng-click="ktvcount = 2">大众点评</li>
        <li ng-class="{lsyhov2:change(ktvcount,3)}" ng-click="ktvcount = 3">百度糯米</li>
    </ul>
    <ul class="nav-s" ng-hide="change(counts,4)">
        <li ng-class="{lsyhov2:change(hotelcount,1)}" ng-click="hotelcount = 1">美团</li>
        <li ng-class="{lsyhov2:change(hotelcount,2)}" ng-click="hotelcount = 2">大众点评</li>
        <li ng-class="{lsyhov2:change(hotelcount,3)}" ng-click="hotelcount = 3">百度糯米</li>
    </ul>
    <ul class="nav-s" ng-hide="change(counts,5)">
        <li ng-class="{lsyhov2:change(salecount,1)}" ng-click="salecount = 1">美团</li>
        <li ng-class="{lsyhov2:change(salecount,2)}" ng-click="salecount = 2">大众点评</li>
        <li ng-class="{lsyhov2:change(salecount,3)}" ng-click="salecount = 3">百度糯米</li>
    </ul>
    <ul class="nav-m" ng-hide="change(counts,1)" ng-init="clik=true" ng-class="{navm:clik}"  ng-click="clik=!clik">
        <li  ng-click="url='pages/meishi.html';totop(0);alert(url);counts=1">美食</li>
        <li  ng-click="url='pages/dianying.html';totop(0);alert(url);counts=2">电影</li>
        <li  ng-click="url='pages/ktv.html';totop(0);alert(url);counts=3">ktv</li>
        <li  ng-click="url='pages/zhusu.html';totop(0);alert(url);counts=4">旅店</li>
        <li  ng-click="url='pages/waimai.html';totop(0);alert(url);counts=5">外卖</li>
    </ul>
    <ul class="nav-m" ng-hide="change(counts,2)" ng-init="clik=true" ng-class="{navm:clik}"  ng-click="clik=!clik">
        <li  ng-click="url='pages/dianying.html';totop(0);alert(url);counts=2">电影</li>
        <li  ng-click="url='pages/meishi.html';totop(0);alert(url);counts=1">美食</li>
        <li  ng-click="url='pages/ktv.html';totop(0);alert(url);counts=3">ktv</li>
        <li  ng-click="url='pages/zhusu.html';totop(0);alert(url);counts=4">旅店</li>
        <li  ng-click="url='pages/waimai.html';totop(0);alert(url);counts=5">外卖</li>
    </ul>
    <ul class="nav-m" ng-hide="change(counts,3)" ng-init="clik=true" ng-class="{navm:clik}"  ng-click="clik=!clik">
        <li  ng-click="url='pages/ktv.html';totop(0);alert(url);counts=3">ktv</li>
        <li  ng-click="url='pages/meishi.html';totop(0);alert(url);counts=1">美食</li>
        <li  ng-click="url='pages/dianying.html';totop(0);alert(url);counts=2">电影</li>
        <li  ng-click="url='pages/zhusu.html';totop(0);alert(url);counts=4">旅店</li>
        <li  ng-click="url='pages/waimai.html';totop(0);alert(url);counts=5">外卖</li>
    </ul>
    <ul class="nav-m" ng-hide="change(counts,4)" ng-init="clik=true" ng-class="{navm:clik}"  ng-click="clik=!clik">
        <li  ng-click="url='pages/zhusu.html';totop(0);alert(url);counts=4">旅店</li>
        <li  ng-click="url='pages/meishi.html';totop(0);alert(url);counts=1">美食</li>
        <li  ng-click="url='pages/dianying.html';totop(0);alert(url);counts=2">电影</li>
        <li  ng-click="url='pages/ktv.html';totop(0);alert(url);counts=3">ktv</li>
        <li  ng-click="url='pages/waimai.html';totop(0);alert(url);counts=5">外卖</li>
    </ul>
    <ul class="nav-m" ng-hide="change(counts,5)" ng-init="clik=true" ng-class="{navm:clik}"  ng-click="clik=!clik">
        <li  ng-click="url='pages/waimai.html';totop(0);alert(url);counts=5">外卖</li>
        <li  ng-click="url='pages/meishi.html';totop(0);alert(url);counts=1">美食</li>
        <li  ng-click="url='pages/dianying.html';totop(0);alert(url);counts=2">电影</li>
        <li  ng-click="url='pages/ktv.html';totop(0);alert(url);counts=3">ktv</li>
        <li  ng-click="url='pages/zhusu.html';totop(0);alert(url);counts=4">旅店</li>
    </ul>
</div>

<div class="lmhead2" ng-hide="change(count2,3)">
    <ul class="nav-s" ng-hide="change(counts,1)">
        <li ng-class="{lsyhov2:change(qdcount,1)}" ng-click="qdcount = 1">新风向</li>
        <li ng-class="{lsyhov2:change(qdcount,2)}" ng-click="qdcount = 2">新锐作品</li>
        <li ng-class="{lsyhov2:change(qdcount,3)}" ng-click="qdcount = 3">实体出版</li>
    </ul>
    <ul class="nav-s" ng-hide="change(counts,2)">
        <li ng-class="{lsyhov2:change(zhcount,1)}" ng-click="zhcount = 1">免费精品</li>
        <li ng-class="{lsyhov2:change(zhcount,2)}" ng-click="zhcount = 2">经典全本</li>
        <li ng-class="{lsyhov2:change(zhcount,3)}" ng-click="zhcount = 3">品书试读</li>
    </ul>
    <ul class="nav-s" ng-hide="change(counts,3)">
        <li ng-class="{lsyhov2:change(csjcount,1)}" ng-click="csjcount = 1">精品力荐</li>
        <li ng-class="{lsyhov2:change(csjcount,2)}" ng-click="csjcount = 2">版权推荐</li>
    </ul>
    <ul class="nav-s" ng-hide="change(counts,4)">
        <li ng-class="{lsyhov2:change(haocount,1)}" ng-click="haocount = 1">完本精品</li>
        <li ng-class="{lsyhov2:change(haocount,2)}" ng-click="haocount = 2">男生频道</li>
        <li ng-class="{lsyhov2:change(haocount,3)}" ng-click="haocount = 3">女生频道</li>
    </ul>
    <ul class="nav-m" ng-hide="change(counts,1)" ng-init="clik=true" ng-class="{navm:clik}"  ng-click="clik=!clik">
        <li  ng-click="url='pages/qidian.html';totop(0);alert(url);counts=1">起点</li>
        <li  ng-click="url='pages/zongheng.html';totop(0);alert(url);counts=2">纵横</li>
        <li  ng-click="url='pages/chuangshiji.html';totop(0);alert(url);counts=3">创世纪</li>
        <li  ng-click="url='pages/hao123.html';totop(0);alert(url);counts=4">hao123</li>
    </ul>
    <ul class="nav-m" ng-hide="change(counts,2)" ng-init="clik=true" ng-class="{navm:clik}"  ng-click="clik=!clik">
        <li  ng-click="url='pages/zongheng.html';totop(0);alert(url);counts=2">纵横</li>
        <li  ng-click="url='pages/qidian.html';totop(0);alert(url);counts=1">起点</li>
        <li  ng-click="url='pages/chuangshiji.html';totop(0);alert(url);counts=3">创世纪</li>
        <li  ng-click="url='pages/hao123.html';totop(0);alert(url);counts=4">hao123</li>
    </ul>
    <ul class="nav-m" ng-hide="change(counts,3)" ng-init="clik=true" ng-class="{navm:clik}"  ng-click="clik=!clik">
        <li  ng-click="url='pages/chuangshiji.html';totop(0);alert(url);counts=3">创世纪</li>
        <li  ng-click="url='pages/qidian.html';totop(0);alert(url);counts=1">起点</li>
        <li  ng-click="url='pages/zongheng.html';totop(0);alert(url);counts=2">纵横</li>
        <li  ng-click="url='pages/hao123.html';totop(0);alert(url);counts=4">hao123</li>
    </ul>
    <ul class="nav-m" ng-hide="change(counts,4)" ng-init="clik=true" ng-class="{navm:clik}"  ng-click="clik=!clik">
        <li  ng-click="url='pages/hao123.html';totop(0);alert(url);counts=4">hao123</li>
        <li  ng-click="url='pages/qidian.html';totop(0);alert(url);counts=1">起点</li>
        <li  ng-click="url='pages/zongheng.html';totop(0);alert(url);counts=2">纵横</li>
        <li  ng-click="url='pages/chuangshiji.html';totop(0);alert(url);counts=3">创世纪</li>
    </ul>
</div>
<!--nav-->
<div id="nav" class="lsynav" ng-controller="lnav1" ng-mouseleave="count=0" >
    <ul>
        <li ng-class="{lsyhover:choose(count,1)}" ng-mouseover="count=1">惠购物</li>
        <li ng-class="{lsyhover:choose(count,2)}" ng-mouseover="count=2">汇周边</li>
        <li ng-class="{lsyhover:choose(count,3)}" ng-mouseover="count=3">慧小说</li>
    </ul>
    <div class="lsyuser">
        <img src="image/2.jpg" width="100%" height="100%"/>
        <div class="lsyname">开发monkey</div>
        <div class="lsytrib">话题讨论</div>
    </div>
    <div class="lsynav-s">
        <ul ng-hide="!choose(count,1)">
            <li ng-click="goto(0)">淘宝</li>
            <li ng-click="goto(0)">聚美优品</li>
            <li ng-click="goto(0)">一号店</li>
            <li ng-click="goto(0)">蘑菇街</li>
            <li ng-click="goto(0)">亚马逊</li>
        </ul>
        <ul ng-hide="!choose(count,2)">
            <li ng-click="goto(0)">美食</li>
            <li ng-click="goto(0)">电影</li>
            <li ng-click="goto(0)">ktv</li>
            <li ng-click="goto(0)">旅店</li>
            <li ng-click="goto(0)">外卖</li>
        </ul>
        <ul ng-hide="!choose(count,3)">
            <li ng-click="goto(0)">起点</li>
            <li ng-click="goto(0)">纵横</li>
            <li ng-click="goto(0)">创世纪</li>
            <li ng-click="goto(0)">hao123</li>
        </ul>
        <div class="lsymsg" ng-click="msgtoggle()">消息栏</div>
        <div class="lsymsglist" ng-class="{msghide:msglist}"></div>
    </div>
</div>
<div class="lsybody2">
    <div id="llist" class="lsynav-h">
        <ul class="nav-hgw">
            <li class="nav-head" ng-click="gw=!gw">汇购物</li>
            <li ng-class="{lihide:!gw,lifocus:!change(foc,1)}" ng-click="url='pages/taobao.html';foc=1;npage=1;totop(100)">淘宝</li>
            <li ng-class="{lihide:!gw,lifocus:!change(foc,2)}" ng-click="url='pages/jumei.html';foc=2;npage=1;totop(100)">聚美优品</li>
            <li ng-class="{lihide:!gw,lifocus:!change(foc,3)}" ng-click="url='pages/yihaodian.html';foc=3;npage=1;totop(100)">一号店</li>
            <li ng-class="{lihide:!gw,lifocus:!change(foc,4)}" ng-click="url='pages/mogujie.html';foc=4;npage=1;totop(100)">蘑菇街</li>
            <li ng-class="{lihide:!gw,lifocus:!change(foc,5)}" ng-click="url='pages/yamaxun.html';foc=5;npage=1;totop(100)">亚马逊</li>
        </ul>
        <ul class="nav-hfj">
            <li class="nav-head" ng-click="fj=!fj">汇附近</li>
            <li ng-class="{lihide:!fj,lifocus:!change(foc,6)}" ng-click="url='pages/meishi.html';foc=6;npage=1;totop(100)">美食</li>
            <li ng-class="{lihide:!fj,lifocus:!change(foc,7)}" ng-click="url='pages/dianying.html';foc=7;npage=1;totop(100)">电影</li>
            <li ng-class="{lihide:!fj,lifocus:!change(foc,8)}" ng-click="url='pages/ktv.html';foc=8;npage=1;totop(100)">KTV</li>
            <li ng-class="{lihide:!fj,lifocus:!change(foc,9)}" ng-click="url='pages/zhusu.html';foc=9;npage=1;totop(100)">旅店</li>
            <li ng-class="{lihide:!fj,lifocus:!change(foc,10)}" ng-click="url='pages/waimai.html';foc=10;npage=1;totop(100)">外卖</li>
        </ul>
        <ul class="nav-hxs">
            <li class="nav-head" ng-click="xs=!xs">汇小说</li>
            <li ng-class="{lihide:!xs,lifocus:!change(foc,11)}" ng-click="url='pages/qidian.html';foc=11;npage=1;totop(100)">起点</li>
            <li ng-class="{lihide:!xs,lifocus:!change(foc,12)}" ng-click="url='pages/zongheng.html';foc=12;npage=1;totop(100)">纵横</li>
            <li ng-class="{lihide:!xs,lifocus:!change(foc,13)}" ng-click="url='pages/chuangshiji.html';foc=13;npage=1;totop(100)">创世纪</li>
            <li ng-class="{lihide:!xs,lifocus:!change(foc,14)}" ng-click="url='pages/hao123.html';foc=14;npage=1;totop(100)">hao123</li>
        </ul>
    </div>
    <div class="lsylist-all" ng-init="url='pages/taobao.html'">
        <div ng-include="url"></div>
    </div>
    <div class="lsylist-m" ng-init="url='pages/taobao.html'" >
        <div ng-include="url"></div>
    </div>
</div>
<div id="footer">
    <div class="lfpic"></div>
</div>
</div>
<script type="text/javascript">
</script>
</body>