<div class="lsynav-p">
    <ul>
        <li ng-class="{listp:!change(csjcount,1)}" ng-click="csjcount = 1;npage=1">精品力荐</li>
        <li ng-class="{listp:!change(csjcount,2)}" ng-click="csjcount = 2;npage=1">版权推荐</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div id="chuangshiji">
    <div class="lmbody">
        <ul ng-hide="charge(csjcount,1,npage,1)">
            <li>
                <img src="image/hxs/5.jpg"/>
                <h1 title="九阳帝尊">九阳帝尊</h1>
                <h2></h2>
                <h3>作品标签： 升级文、轻松、丹药</h3>
                <p class="describ">一场奇遇，一头比山岳还要大的金翅大鹏，成了少年楚晨的分身，从此他获得了进入神墓的资格，神墓中有仙女冰封在玉棺之中，有上古仙器灭天辟魔神梭……无数的丹药法宝，神符圣兵，全部由他随意拾取！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/5.jpg"/>
                <h1 title="九阳帝尊">九阳帝尊</h1>
                <h2></h2>
                <h3>作品标签： 升级文、轻松、丹药</h3>
                <p class="describ">一场奇遇，一头比山岳还要大的金翅大鹏，成了少年楚晨的分身，从此他获得了进入神墓的资格，神墓中有仙女冰封在玉棺之中，有上古仙器灭天辟魔神梭……无数的丹药法宝，神符圣兵，全部由他随意拾取！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/5.jpg"/>
                <h1 title="九阳帝尊">九阳帝尊</h1>
                <h2></h2>
                <h3>作品标签： 升级文、轻松、丹药</h3>
                <p class="describ">一场奇遇，一头比山岳还要大的金翅大鹏，成了少年楚晨的分身，从此他获得了进入神墓的资格，神墓中有仙女冰封在玉棺之中，有上古仙器灭天辟魔神梭……无数的丹药法宝，神符圣兵，全部由他随意拾取！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/5.jpg"/>
                <h1 title="九阳帝尊">九阳帝尊</h1>
                <h2></h2>
                <h3>作品标签： 升级文、轻松、丹药</h3>
                <p class="describ">一场奇遇，一头比山岳还要大的金翅大鹏，成了少年楚晨的分身，从此他获得了进入神墓的资格，神墓中有仙女冰封在玉棺之中，有上古仙器灭天辟魔神梭……无数的丹药法宝，神符圣兵，全部由他随意拾取！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
        </ul>
        <ul ng-hide="charge(csjcount,2,npage,1)">
            <li>
                <img src="image/hxs/6.jpg"/>
                <h1 title="从前有座灵剑山">从前有座灵剑山</h1>
                <h2></h2>
                <h3>作品标签：</h3>
                <p class="describ">灵剑派成立于九州历四二三三年，几千年来始终致力于为行业提供一流的修仙人才，如今位列万仙盟五大超品宗派之一，掌门风吟真人担任万仙盟七大常务长老，修为盖世。灵剑派坚持和平与发展的主题，门派核心价值理念是求真、求善、求种。为进一步扩充门派力量，补充新鲜血液，拟于近期召开升仙大会，诚邀各路精英前来。
                    还是原来的节操
                    还是一样的搞笑 </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/5.jpg"/>
                <h1 title="九阳帝尊">九阳帝尊</h1>
                <h2></h2>
                <h3>作品标签： 升级文、轻松、丹药</h3>
                <p class="describ">一场奇遇，一头比山岳还要大的金翅大鹏，成了少年楚晨的分身，从此他获得了进入神墓的资格，神墓中有仙女冰封在玉棺之中，有上古仙器灭天辟魔神梭……无数的丹药法宝，神符圣兵，全部由他随意拾取！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/5.jpg"/>
                <h1 title="九阳帝尊">九阳帝尊</h1>
                <h2></h2>
                <h3>作品标签： 升级文、轻松、丹药</h3>
                <p class="describ">一场奇遇，一头比山岳还要大的金翅大鹏，成了少年楚晨的分身，从此他获得了进入神墓的资格，神墓中有仙女冰封在玉棺之中，有上古仙器灭天辟魔神梭……无数的丹药法宝，神符圣兵，全部由他随意拾取！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/5.jpg"/>
                <h1 title="九阳帝尊">九阳帝尊</h1>
                <h2></h2>
                <h3>作品标签： 升级文、轻松、丹药</h3>
                <p class="describ">一场奇遇，一头比山岳还要大的金翅大鹏，成了少年楚晨的分身，从此他获得了进入神墓的资格，神墓中有仙女冰封在玉棺之中，有上古仙器灭天辟魔神梭……无数的丹药法宝，神符圣兵，全部由他随意拾取！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(csjcount,1,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(csjcount,2,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
</div>