<div class="lsynav-p">
    <ul>
        <li ng-class="{listp:!change(haocount,1)}" ng-click="haocount = 1;npage=1">完本精品</li>
        <li ng-class="{listp:!change(haocount,2)}" ng-click="haocount = 2;npage=1">男生频道</li>
        <li ng-class="{listp:!change(haocount,3)}" ng-click="haocount = 3;npage=1">女生频道</li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div id="hao123">
    <div class="lmbody">
        <ul ng-hide="charge(haocount,1,npage,1)">
            <li>
                <img src="image/hxs/7.jpg"/>
                <h1 title="桃花满庭院">桃花满庭院</h1>
                <h2>作者：腾跃</h2>
                <h3>分类：古代言情</h3>
                <p class="describ">无父无母，三婶财迷眼，四婶心不正 破屋烂院，没吃没穿，如何生活？ 且看她，带领家穷心不穷的姐妹们走出一条锦秀路 想做我姐夫？先过我这关 想做我妹夫？也得先过我这关 啥？想做我的夫？那姐姐妹妹们的关你先过了再说</p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/7.jpg"/>
                <h1 title="桃花满庭院">桃花满庭院</h1>
                <h2>作者：腾跃</h2>
                <h3>分类：古代言情</h3>
                <p class="describ">无父无母，三婶财迷眼，四婶心不正 破屋烂院，没吃没穿，如何生活？ 且看她，带领家穷心不穷的姐妹们走出一条锦秀路 想做我姐夫？先过我这关 想做我妹夫？也得先过我这关 啥？想做我的夫？那姐姐妹妹们的关你先过了再说</p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/7.jpg"/>
                <h1 title="桃花满庭院">桃花满庭院</h1>
                <h2>作者：腾跃</h2>
                <h3>分类：古代言情</h3>
                <p class="describ">无父无母，三婶财迷眼，四婶心不正 破屋烂院，没吃没穿，如何生活？ 且看她，带领家穷心不穷的姐妹们走出一条锦秀路 想做我姐夫？先过我这关 想做我妹夫？也得先过我这关 啥？想做我的夫？那姐姐妹妹们的关你先过了再说</p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/7.jpg"/>
                <h1 title="桃花满庭院">桃花满庭院</h1>
                <h2>作者：腾跃</h2>
                <h3>分类：古代言情</h3>
                <p class="describ">无父无母，三婶财迷眼，四婶心不正 破屋烂院，没吃没穿，如何生活？ 且看她，带领家穷心不穷的姐妹们走出一条锦秀路 想做我姐夫？先过我这关 想做我妹夫？也得先过我这关 啥？想做我的夫？那姐姐妹妹们的关你先过了再说</p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
        </ul>
        <ul ng-hide="charge(haocount,2,npage,1)">
            <li>
                <img src="image/hxs/8.jpg"/>
                <h1 title="超品战兵">超品战兵</h1>
                <h2>作者：梁不凡</h2>
                <h3>分类：都市</h3>
                <p class="describ">一代兵王，因叛徒出卖，导致红颜知己陨落；怒发冲冠，回归都市，掀起腥风血雨。 英雄美女？有 扮猪吃虎？有 女妖精？女汉子？女蛇精病？女萝莉？应有尽有。 铁血硬汉，侠骨柔情，正邪高手尽出。不凡微信号：dc7237715</p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/7.jpg"/>
                <h1 title="桃花满庭院">桃花满庭院</h1>
                <h2>作者：腾跃</h2>
                <h3>分类：古代言情</h3>
                <p class="describ">无父无母，三婶财迷眼，四婶心不正 破屋烂院，没吃没穿，如何生活？ 且看她，带领家穷心不穷的姐妹们走出一条锦秀路 想做我姐夫？先过我这关 想做我妹夫？也得先过我这关 啥？想做我的夫？那姐姐妹妹们的关你先过了再说</p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/7.jpg"/>
                <h1 title="桃花满庭院">桃花满庭院</h1>
                <h2>作者：腾跃</h2>
                <h3>分类：古代言情</h3>
                <p class="describ">无父无母，三婶财迷眼，四婶心不正 破屋烂院，没吃没穿，如何生活？ 且看她，带领家穷心不穷的姐妹们走出一条锦秀路 想做我姐夫？先过我这关 想做我妹夫？也得先过我这关 啥？想做我的夫？那姐姐妹妹们的关你先过了再说</p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/7.jpg"/>
                <h1 title="桃花满庭院">桃花满庭院</h1>
                <h2>作者：腾跃</h2>
                <h3>分类：古代言情</h3>
                <p class="describ">无父无母，三婶财迷眼，四婶心不正 破屋烂院，没吃没穿，如何生活？ 且看她，带领家穷心不穷的姐妹们走出一条锦秀路 想做我姐夫？先过我这关 想做我妹夫？也得先过我这关 啥？想做我的夫？那姐姐妹妹们的关你先过了再说</p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
        </ul>
        <ul ng-hide="charge(haocount,3,npage,1)">
            <li>
                <img src="image/hxs/9.jpg"/>
                <h1 title="陆少的蚀心宠妻">陆少的蚀心宠妻</h1>
                <h2>作者：素素清澜</h2>
                <h3>分类：总裁豪门</h3>
                <p class="describ">琉璃得罪了大人物，原以为要被渣男往死里虐，却一夕之间成了大boss名义上的妹妹，从此吃好喝好，励志败家娘们。 说好了只做妹妹的，可为什么大boss每晚都会跑来房里例行检查，美其名曰：担心有坏人对妹妹不利。 拜托，这陆家大宅，最阴险毒辣的...</p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/7.jpg"/>
                <h1 title="桃花满庭院">桃花满庭院</h1>
                <h2>作者：腾跃</h2>
                <h3>分类：古代言情</h3>
                <p class="describ">无父无母，三婶财迷眼，四婶心不正 破屋烂院，没吃没穿，如何生活？ 且看她，带领家穷心不穷的姐妹们走出一条锦秀路 想做我姐夫？先过我这关 想做我妹夫？也得先过我这关 啥？想做我的夫？那姐姐妹妹们的关你先过了再说</p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/7.jpg"/>
                <h1 title="桃花满庭院">桃花满庭院</h1>
                <h2>作者：腾跃</h2>
                <h3>分类：古代言情</h3>
                <p class="describ">无父无母，三婶财迷眼，四婶心不正 破屋烂院，没吃没穿，如何生活？ 且看她，带领家穷心不穷的姐妹们走出一条锦秀路 想做我姐夫？先过我这关 想做我妹夫？也得先过我这关 啥？想做我的夫？那姐姐妹妹们的关你先过了再说</p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/7.jpg"/>
                <h1 title="桃花满庭院">桃花满庭院</h1>
                <h2>作者：腾跃</h2>
                <h3>分类：古代言情</h3>
                <p class="describ">无父无母，三婶财迷眼，四婶心不正 破屋烂院，没吃没穿，如何生活？ 且看她，带领家穷心不穷的姐妹们走出一条锦秀路 想做我姐夫？先过我这关 想做我妹夫？也得先过我这关 啥？想做我的夫？那姐姐妹妹们的关你先过了再说</p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(haocount,1,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(haocount,2,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(haocount,3,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
</div>