<div class="lsynav-p">
    <ul>
        <li ng-class="{listp:!change(jmcount,1)}" ng-click="jmcount = 1;npage=1">限时特卖</li>
        <li ng-class="{listp:!change(jmcount,2)}" ng-click="jmcount = 2;npage=1">极速免税</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div id="jumei">
    <div class="lmbody">
        <ul ng-hide="charge(jmcount,1,npage,1)">
            <li>
                <img src="image/hgw/jumei/xstm/603221.jpg"/>
            </li>
            <li>
                <img src="image/hgw/jumei/xstm/603222.jpg"/>
            </li>
            <li>
                <img src="image/hgw/jumei/xstm/603223.jpg"/>
            </li>
            <li>
                <img src="image/hgw/jumei/xstm/603224.jpg"/>
            </li>
            <li>
                <img src="image/hgw/jumei/xstm/603224.jpg"/>
            </li>
            <li>
                <img src="image/hgw/jumei/xstm/603224.jpg"/>
            </li>
            <li>
                <img src="image/hgw/jumei/xstm/603224.jpg"/>
            </li>
        </ul>
        <ul ng-hide="charge(jmcount,2,npage,1)">
            <li>
                <img src="image/hgw/jumei/jsms/603221.jpg"/>
            </li>
            <li>
                <img src="image/hgw/jumei/jsms/603222.jpg"/>
            </li>
            <li>
                <img src="image/hgw/jumei/jsms/603223.jpg"/>
            </li>
            <li>
                <img src="image/hgw/jumei/jsms/603224.jpg"/>
            </li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(jmcount,1,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(jmcount,2,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
        </ul>
    </div>
</div>