<div class="lsynav-p">
    <ul>
        <li ng-class="{listp:!change(ktvcount,1)}" ng-click="ktvcount = 1;npage=1">美团</li>
        <li ng-class="{listp:!change(ktvcount,2)}" ng-click="ktvcount = 2;npage=1">大众点评</li>
        <li ng-class="{listp:!change(ktvcount,3)}" ng-click="ktvcount = 3;npage=1">百度糯米</li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div id="kge">
    <div class="lmbody">
        <ul ng-hide="charge(ktvcount,1,npage,1)">
            <li>
                <img src="image/mtkg603171.jpg"/>
                <h1 title="格莱美MusicParty（新美店）">格莱美MusicParty（新美店）</h1>
                <p style="color:black;">[江干区下沙经济开发区4号大街物美商城4楼]</p>
                <p title="支持WIFI 免费提供50个停车位">支持WIFI 免费提供50个停车位</p>
                <div class="lprice">¥9<small>起</small></div>
                <div class="lscore">3.8分</div>
                <div class="lnum">人均 ¥34</div>
            </li>
            <li>
                <img src="image/mtkg603172.jpg"/>
                <h1 title="豪歌迪量贩KTV（近江店）">豪歌迪量贩KTV（近江店）</h1>
                <p style="color:black;">[上城区秋涛路491号杭州礼品城3楼（近近江路]</p>
                <p title="支持WIFI 停车位收费标准：每间包厢凭停车卡报销5元">支持WIFI 停车位收费标准：每间包厢凭停车卡报销5元</p>
                <div class="lprice">¥19.9<small>起</small></div>
                <div class="lscore">3.8分</div>
                <div class="lnum">人均 ¥21</div>
            </li>
            <li>
                <img src="image/mtkg603173.jpg"/>
                <h1 title="歌米量贩KTV">歌米量贩KTV</h1>
                <p style="color:black;">[西湖区莲花路333号莲花商务中心北楼4楼(文三西路口)]</p>
                <p title="支持WIFI 商家服务：停车位收费标准：提供大型地下停车场凭团购券另付6元兑换1张24小时停车券">支持WIFI 商家服务：停车位收费标准：提供大型地下停车场凭团购券另付6元兑换1张24小时停车券</p>
                <div class="lprice">¥9<small>起</small></div>
                <div class="lscore">4.4分</div>
                <div class="lnum">人均 ¥30</div>
            </li>
            <li>
                <img src="image/mtkg603174.jpg"/>
                <h1 title="哆唻咪量贩KTV（高教园旗舰店）">哆唻咪量贩KTV（高教园旗舰店）</h1>
                <p style="color:black;">[滨江区高教园商业街4号楼(近华润超市)]</p>
                <p title="支持WIFI ">支持WIFI </p>
                <div class="lprice">¥29<small>起</small></div>
                <div class="lscore">4.4分</div>
                <div class="lnum">人均 ¥31</div>
            </li>
            <li>
                <img src="image/mtkg603174.jpg"/>
                <h1 title="哆唻咪量贩KTV（高教园旗舰店）">哆唻咪量贩KTV（高教园旗舰店）</h1>
                <p style="color:black;">[滨江区高教园商业街4号楼(近华润超市)]</p>
                <p title="支持WIFI ">支持WIFI </p>
                <div class="lprice">¥29<small>起</small></div>
                <div class="lscore">4.4分</div>
                <div class="lnum">人均 ¥31</div>
            </li>
            <li>
                <img src="image/mtkg603174.jpg"/>
                <h1 title="哆唻咪量贩KTV（高教园旗舰店）">哆唻咪量贩KTV（高教园旗舰店）</h1>
                <p style="color:black;">[滨江区高教园商业街4号楼(近华润超市)]</p>
                <p title="支持WIFI ">支持WIFI </p>
                <div class="lprice">¥29<small>起</small></div>
                <div class="lscore">4.4分</div>
                <div class="lnum">人均 ¥31</div>
            </li>
        </ul>
        <ul ng-hide="charge(ktvcount,2,npage,1)">
            <li>
                <img src="image/dianping/ktv603191.jpg"/>
                <h1 title="V-SHOW主题KTV(杭州黄龙旗舰店)（新美店）">V-SHOW主题KTV(杭州黄龙旗舰店)（新美店）</h1>
                <p style="color:black;">[西湖北线/黄龙] [玉古路168号1F-2F（玉古路与西溪路交叉口）(黄龙体育馆旁)]</p>
                <p title="仅售50元，价值445元下午/黄金档欢唱套餐，免费WiFi！">仅售50元，价值445元下午/黄金档欢唱套餐，免费WiFi！</p>
                <div class="lprice">¥50<small style="text-decoration: line-through"> ¥445</small></div>
                <div class="lscore">4.6分</div>
                <div class="lnum">已售7226</div>
            </li>
            </li>
            <li>
                <img src="image/dianping/ktv603192.jpg"/>
                <h1 title="银乐迪INLOVE KTV">银乐迪INLOVE KTV</h1>
                <p style="color:black;">[凤起路沿线] [建国北路281号双牛大厦5楼(近凤起路)]</p>
                <p title="仅售49元，价值720元白天档/黄金档/凌晨档欢唱套餐，免开机费，免费WiFi！">仅售49元，价值720元白天档/黄金档/凌晨档欢唱套餐，免开机费，免费WiFi！</p>
                <div class="lprice">¥49<small style="text-decoration: line-through"> ¥720</small></div>
                <div class="lscore">4.7分</div>
                <div class="lnum">已售390</div>
            </li>
            <li>
                <img src="image/dianping/ktv603193.jpg"/>
                <h1 title="银乐迪INLOVE KTV">银乐迪INLOVE KTV</h1>
                <p style="color:black;">[湖滨] [延安路135号涌金广场3楼(近西湖大道)]</p>
                <p title="仅售49元，价值606元全天三个时段欢唱套餐，免开机费，免费WiFi！">仅售49元，价值606元全天三个时段欢唱套餐，免开机费，免费WiFi！</p>
                <div class="lprice">¥49<small style="text-decoration: line-through"> ¥606</small></div>
                <div class="lscore">4.3分</div>
                <div class="lnum">已售726</div>
            </li>
            <li>
                <img src="image/dianping/ktv603194.jpg"/>
                <h1 title="银乐迪INLOVE KTV（水晶城店）">银乐迪INLOVE KTV（水晶城店）</h1>
                <p style="color:black;">[水晶城] [上塘路458号水晶城6楼(上塘路)]</p>
                <p title="仅售68元，价值300元周日至周四19：00-24：00欢唱3小时，免费WiFi！">仅售68元，价值300元周日至周四19：00-24：00欢唱3小时，免费WiFi！</p>
                <div class="lprice">¥68<small style="text-decoration: line-through"> ¥300</small></div>
                <div class="lscore">4.6分</div>
                <div class="lnum">已售3128</div>
            </li>
        </ul>
        <ul ng-hide="charge(ktvcount,3,npage,1)">
            <li>
                <img src="image/3.jpg"/>
                <h1>温莎KTV</h1>
                <p style="color:black;">[杭州市拱墅区湖墅南路90号湖墅南路和文晖路交叉口，武林壹号旁]</p>
                <p title="仅售49元，价值198元湖墅南路店欢唱券！节假日通用！">仅售49元，价值198元湖墅南路店欢唱券！节假日通用！</p>
                <div class="lprice">¥49<small style="text-decoration:line-through;">¥198</small></div>
                <div class="lscore">5.0分</div>
                <div class="lnum">已售390</div>
            </li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(ktvcount,1,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(ktvcount,2,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(ktvcount,3,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
</div>