<div class="lsynav-p">
    <ul>
        <li ng-class="{listp:!change(delcount,1)}" ng-click="delcount = 1;npage=1">美团</li>
        <li ng-class="{listp:!change(delcount,2)}" ng-click="delcount = 2;npage=1">大众点评</li>
        <li ng-class="{listp:!change(delcount,3)}" ng-click="delcount = 3;npage=1">百度糯米</li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div id="meishi">
    <div class="lmbody">
        <ul ng-hide="charge(delcount,1,npage,1)">
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/mtms603171.jpg"/>
                <h1 title="小猪头自助火锅烧烤">小猪头自助火锅烧烤</h1>
                <p title="江干区新塘路108号天虹购物中心A座5楼（第七街1973口子电梯直达5楼...支持WIFI">江干区新塘路108号天虹购物中心A座5楼（第七街1973口子电梯直达5楼...支持WIFI</p>
                <div class="lspan"><span>团</span></div>
                <div class="lprice">￥59<small>起</small></div>
                <div class="lnum">9005人评价</div>
            </li>
            <li>
                <img src="image/mtms603172.jpg"/>
                <h1 title="品宫纸上烧烤（三墩香港城店）">品宫纸上烧烤（三墩香港城店）</h1>
                <p title="西湖区三墩镇厚仁路新天地商业中心3幢一楼">西湖区三墩镇厚仁路新天地商业中心3幢一楼</p>
                <div class="lspan"><span>团</span></div>
                <div class="lprice">￥53<small>起</small></div>
                <div class="lnum">12294人评价</div>
            </li>
            <li>
                <img src="image/mtms603173.jpg"/>
                <h1 title="相约春天自助烤肉火锅">相约春天自助烤肉火锅</h1>
                <p title="萧山区西河路162号（凯豪大酒店斜对面汉庭酒店2楼）">萧山区西河路162号（凯豪大酒店斜对面汉庭酒店2楼）</p>
                <div class="lspan"><span>团</span></div>
                <div class="lprice">￥39.8<small>起</small></div>
                <div class="lnum">16284人评价</div>
            </li>
            <li>
                <img src="image/mtms603174.jpg"/>
                <h1 title="青藤茶馆（元华店）">青藤茶馆（元华店）</h1>
                <p title="上城区南山路278号元华广场2楼(一公园对面)">上城区南山路278号元华广场2楼(一公园对面) </p>
                <div class="lspan"><span>团</span><span>券</span></div>
                <div class="lprice">￥68<small>起</small></div>
                <div class="lnum">7654人评价</div>
            </li>
            <li>
                <img src="image/mtms603174.jpg"/>
                <h1 title="青藤茶馆（元华店）">青藤茶馆（元华店）</h1>
                <p title="上城区南山路278号元华广场2楼(一公园对面)">上城区南山路278号元华广场2楼(一公园对面) </p>
                <div class="lspan"><span>团</span><span>券</span></div>
                <div class="lprice">￥68<small>起</small></div>
                <div class="lnum">7654人评价</div>
            </li>
            <li>
                <img src="image/mtms603174.jpg"/>
                <h1 title="青藤茶馆（元华店）">青藤茶馆（元华店）</h1>
                <p title="上城区南山路278号元华广场2楼(一公园对面)">上城区南山路278号元华广场2楼(一公园对面) </p>
                <div class="lspan"><span>团</span><span>券</span></div>
                <div class="lprice">￥68<small>起</small></div>
                <div class="lnum">7654人评价</div>
            </li>
            <li>
                <img src="image/mtms603174.jpg"/>
                <h1 title="青藤茶馆（元华店）">青藤茶馆（元华店）</h1>
                <p title="上城区南山路278号元华广场2楼(一公园对面)">上城区南山路278号元华广场2楼(一公园对面) </p>
                <div class="lspan"><span>团</span><span>券</span></div>
                <div class="lprice">￥68<small>起</small></div>
                <div class="lnum">7654人评价</div>
            </li>
        </ul>
        <ul ng-hide="charge(delcount,2,npage,1)">
            <li>
                <img src="image/dianping/ms603191.jpg"/>
                <h1 title="[11店通用] 锅内锅外">[11店通用] 锅内锅外</h1>
                <p title="仅售79元！价值89元的自助晚餐，提供免费WiFi。吃货的美食，牛人的自助，带领港式海鲜自助新时代，让你吃在锅内，看在锅外！。">仅售79元！价值89元的自助晚餐，提供免费WiFi。吃货的美食，牛人的自助，带领港式海鲜自助新时代，让你吃在锅内，看在锅外！。</p>
                <div class="lspan"><span>免预约</span></div>
                <div class="lprice">¥79<small style="text-decoration:line-through;">¥89</small></div>
                <div class="lnum">已售166259</div>
            </li>
            <li>
                <img src="image/dianping/ms603192.jpg"/>
                <h1 title="[10店通用] 山葵家精致料理寿司吧">[10店通用] 山葵家精致料理寿司吧</h1>
                <p title="仅售85元！价值100元的代金券1张，全场通用，可叠加使用3张，提供免费WiFi。">仅售85元！价值100元的代金券1张，全场通用，可叠加使用3张，提供免费WiFi。</p>
                <div class="lspan"><span>免预约</span></div>
                <div class="lprice">¥85<small style="text-decoration:line-through;">¥100</small></div>
                <div class="lnum">已售169860</div>
            </li>
            <li>
                <img src="image/dianping/ms603193.jpg"/>
                <h1 title="[24店通用] 小猪猪">[24店通用] 小猪猪</h1>
                <p title="仅售88元，价值100元代金券，不限时段通用，除饮料、酒水外全场通用，独家合作！限量抢购！">仅售88元，价值100元代金券，不限时段通用，除饮料、酒水外全场通用，独家合作！限量抢购！</p>
                <div class="lspan"><span>免预约</span></div>
                <div class="lprice">¥69<small style="text-decoration:line-through;">¥79</small></div>
                <div class="lnum">已售85918</div>
            </li>
            <li>
                <img src="image/dianping/ms603194.jpg"/>
                <h1 title="[8店通用] 潮牛海记">[8店通用] 潮牛海记</h1>
                <p title="仅售76元！价值100元的午市代金券1份，除酒水、饮料外全场通用，可叠加使用，可免费使用包间，提供免费WiFi。">仅售76元！价值100元的午市代金券1份，除酒水、饮料外全场通用，可叠加使用，可免费使用包间，提供免费WiFi。</p>
                <div class="lspan"><span>免预约</span></div>
                <div class="lprice">¥76<small style="text-decoration:line-through;">¥100</small></div>
                <div class="lnum">已售57504</div>
            </li>
        </ul>
        <ul ng-hide="charge(delcount,3,npage,1)">
            <li>
                <img src="image/nuomi/ms603191.jpg"/>
                <h1 title="芭菲盛宴 ">芭菲盛宴 </h1>
                <p title="仅售173元，价值198元杭州店单人自助晚餐！提前2小时预约，提供免费无线WiFi！">仅售173元，价值198元杭州店单人自助晚餐！提前2小时预约，提供免费无线WiFi！</p>
                <div class="lspan"><span>立减8元</span></div>
                <div class="lprice">¥173<small style="text-decoration:line-through;">价值¥198</small></div>
                <div class="lnum">已售13779</div>
            </li>
            <li>
                <img src="image/nuomi/ms603192.jpg"/>
                <h1 title="咬不得高祖生煎 ">咬不得高祖生煎</h1>
                <p title="仅售28元，价值30元代金券！可叠加使用，节假日通用！">仅售28元，价值30元代金券！可叠加使用，节假日通用！</p>
                <div class="lspan"><span></span></div>
                <div class="lprice">¥28<small style="text-decoration:line-through;">价值¥30</small></div>
                <div class="lnum">已售13779</div>
            </li>
            <li>
                <img src="image/nuomi/ms603193.jpg"/>
                <h1 title="【6店通用】锅内锅外 ">【6店通用】锅内锅外</h1>
                <p title="仅售69元，价值79元单人自助午餐！节假日通用，提供免费WiFi！">仅售69元，价值79元单人自助午餐！节假日通用，提供免费WiFi！</p>
                <div class="lspan"><span></span></div>
                <div class="lprice">¥69<small>价值¥79</small></div>
                <div class="lnum">已售16921</div>
            </li>
            <li>
                <img src="image/nuomi/ms603194.jpg"/>
                <h1 title="【2店通用】嗨漾自助美食 ">【2店通用】嗨漾自助美食</h1>
                <p title="仅售69元，价值79元单人晚餐自助全新升级！周六周日全场通用！店内提供免费无线WiFi！">仅售69元，价值79元单人晚餐自助全新升级！周六周日全场通用！店内提供免费无线WiFi！</p>
                <div class="lspan"><span></span></div>
                <div class="lprice">¥69<small>价值¥79</small></div>
                <div class="lnum">已售22806</div>
            </li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(delcount,1,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(delcount,2,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(delcount,3,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
</div>