<div class="lsynav-p">
    <ul>
        <li ng-class="{listp:!change(mgjcount,1)}" ng-click="mgjcount = 1;npage=1">快抢</li>
        <li ng-class="{listp:!change(mgjcount,2)}" ng-click="mgjcount = 2;npage=1">团购</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div id="mogujie">
    <div class="lmbody">
        <ul ng-hide="charge(mgjcount,1,npage,1)">
            <li>
                <img src="image/hgw/mogujie/kq/603221.jpg_999x999.v1c0.webp"/>
                <h1 title="喜家家 居家浴室防滑凉拖鞋">喜家家 居家浴室防滑凉拖鞋</h1>
                <div class="lprice"><span>快抢价</span>¥13.80<small>¥31.00</small></div>
                <div class="lbuy">立即抢购</div>
                <div class="lnum">仅剩90件</div>
            </li>
            <li>
                <img src="image/hgw/mogujie/kq/603222.jpg_999x999.v1c0.webp"/>
                <h1 title="喜家家 居家浴室防滑凉拖鞋">喜家家 居家浴室防滑凉拖鞋</h1>
                <div class="lprice"><span>快抢价</span>¥13.80<small>¥31.00</small></div>
                <div class="lbuy">立即抢购</div>
                <div class="lnum">仅剩90件</div>
            </li>
            <li>
                <img src="image/hgw/mogujie/kq/603223.jpg_999x999.v1c0.webp"/>
                <h1 title="喜家家 居家浴室防滑凉拖鞋">喜家家 居家浴室防滑凉拖鞋</h1>
                <div class="lprice"><span>快抢价</span>¥13.80<small>¥31.00</small></div>
                <div class="lbuy">立即抢购</div>
                <div class="lnum">仅剩90件</div>
            </li>
            <li>
                <img src="image/hgw/mogujie/kq/603224.jpg_999x999.v1c0.webp"/>
                <h1 title="喜家家 居家浴室防滑凉拖鞋">喜家家 居家浴室防滑凉拖鞋</h1>
                <div class="lprice"><span>快抢价</span>¥13.80<small>¥31.00</small></div>
                <div class="lbuy">立即抢购</div>
                <div class="lnum">仅剩90件</div>
            </li>
            <li>
                <img src="image/hgw/mogujie/kq/603224.jpg_999x999.v1c0.webp"/>
                <h1 title="喜家家 居家浴室防滑凉拖鞋">喜家家 居家浴室防滑凉拖鞋</h1>
                <div class="lprice"><span>快抢价</span>¥13.80<small>¥31.00</small></div>
                <div class="lbuy">立即抢购</div>
                <div class="lnum">仅剩90件</div>
            </li>
            <li>
                <img src="image/hgw/mogujie/kq/603224.jpg_999x999.v1c0.webp"/>
                <h1 title="喜家家 居家浴室防滑凉拖鞋">喜家家 居家浴室防滑凉拖鞋</h1>
                <div class="lprice"><span>快抢价</span>¥13.80<small>¥31.00</small></div>
                <div class="lbuy">立即抢购</div>
                <div class="lnum">仅剩90件</div>
            </li>
            <li>
                <img src="image/hgw/mogujie/kq/603224.jpg_999x999.v1c0.webp"/>
                <h1 title="喜家家 居家浴室防滑凉拖鞋">喜家家 居家浴室防滑凉拖鞋</h1>
                <div class="lprice"><span>快抢价</span>¥13.80<small>¥31.00</small></div>
                <div class="lbuy">立即抢购</div>
                <div class="lnum">仅剩90件</div>
            </li>
        </ul>
        <ul ng-hide="charge(mgjcount,2,npage,1)">
            <li>
                <img class="img2" src="image/hgw/mogujie/tg/603221.jpg_999x999.v1c0.webp"/>
                <h1 class="h2" title="搭配显瘦神器❤韩版条纹中长款衬衫">搭配显瘦神器❤韩版条纹中长款衬衫</h1>
                <div class="lprice"><span>团购价</span>¥45.00</div>
                <div class="lbuy">立省¥30</div>
                <div class="lnum">643人参与</div>
            </li>
            <li>
                <img class="img2" src="image/hgw/mogujie/tg/603222.jpg_999x999.v1c0.webp"/>
                <h1 class="h2" title="【佰络雅】韩版大象纹锁扣斜挎小方包">【佰络雅】韩版大象纹锁扣斜挎小方包</h1>
                <div class="lprice"><span>团购价</span>¥58.80</div>
                <div class="lbuy">立省¥39</div>
                <div class="lnum">490人参与</div>
            </li>
            <li>
                <img class="img2" src="image/hgw/mogujie/tg/603223.jpg_999x999.v1c0.webp"/>
                <h1 class="h2" title="搭配显瘦神器❤韩版条纹中长款衬衫">搭配显瘦神器❤韩版条纹中长款衬衫</h1>
                <div class="lprice"><span>团购价</span>¥45.00</div>
                <div class="lbuy">立省¥30</div>
                <div class="lnum">643人参与</div>
            </li>
            <li>
                <img class="img2" src="image/hgw/mogujie/tg/603224.jpg_999x999.v1c0.webp"/>
                <h1 class="h2" title="搭配显瘦神器❤韩版条纹中长款衬衫">搭配显瘦神器❤韩版条纹中长款衬衫</h1>
                <div class="lprice"><span>团购价</span>¥45.00</div>
                <div class="lbuy">立省¥30</div>
                <div class="lnum">643人参与</div>
            </li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(mgjcount,1,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(mgjcount,2,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
</div>