<div class="lsynav-p">
    <ul>
        <li ng-class="{listp:!change(qdcount,1)}" ng-click="qdcount = 1;npage=1">新风向</li>
        <li ng-class="{listp:!change(qdcount,2)}" ng-click="qdcount = 2;npage=1">新锐作品</li>
        <li ng-class="{listp:!change(qdcount,3)}" ng-click="qdcount = 3;npage=1">实体出版</li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div id="qidian">
    <div class="lmbody">
        <ul ng-hide="charge(qdcount,1,npage,1)">
            <li>
                <img src="image/hxs/1.jpg"/>
                <h1 title="纯阳武神">纯阳武神</h1>
                <h2>作者：十步行</h2>
                <h3>类别：武侠</h3>
                <p class="describ">这是一个属于长生不死的武林神话！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/1.jpg"/>
                <h1 title="纯阳武神">纯阳武神</h1>
                <h2>作者：十步行</h2>
                <h3>类别：武侠</h3>
                <p class="describ">这是一个属于长生不死的武林神话！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/1.jpg"/>
                <h1 title="纯阳武神">纯阳武神</h1>
                <h2>作者：十步行</h2>
                <h3>类别：武侠</h3>
                <p class="describ">这是一个属于长生不死的武林神话！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/1.jpg"/>
                <h1 title="纯阳武神">纯阳武神</h1>
                <h2>作者：十步行</h2>
                <h3>类别：武侠</h3>
                <p class="describ">这是一个属于长生不死的武林神话！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/1.jpg"/>
                <h1 title="纯阳武神">纯阳武神</h1>
                <h2>作者：十步行</h2>
                <h3>类别：武侠</h3>
                <p class="describ">这是一个属于长生不死的武林神话！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/1.jpg"/>
                <h1 title="纯阳武神">纯阳武神</h1>
                <h2>作者：十步行</h2>
                <h3>类别：武侠</h3>
                <p class="describ">这是一个属于长生不死的武林神话！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/1.jpg"/>
                <h1 title="纯阳武神">纯阳武神</h1>
                <h2>作者：十步行</h2>
                <h3>类别：武侠</h3>
                <p class="describ">这是一个属于长生不死的武林神话！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/1.jpg"/>
                <h1 title="纯阳武神">纯阳武神</h1>
                <h2>作者：十步行</h2>
                <h3>类别：武侠</h3>
                <p class="describ">这是一个属于长生不死的武林神话！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>

        </ul>
        <ul ng-hide="charge(qdcount,2,npage,1)">
            <li>
                <img src="image/hxs/2.jpg"/>
                <h1 title="弑天刃">弑天刃</h1>
                <h2>作者： 小刀锋利</h2>
                <h3>类别：武侠</h3>
                <p class="describ"> 江湖无道，拔刀而起，利刃横空，问心无愧。
                    众生无道，刀锋弑之。冷眼星空，持刀睥睨。
                    通天大道，一路荆棘，一刀斩开，唯我独尊！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/1.jpg"/>
                <h1 title="纯阳武神">纯阳武神</h1>
                <h2>作者：十步行</h2>
                <h3>类别：武侠</h3>
                <p class="describ">这是一个属于长生不死的武林神话！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/1.jpg"/>
                <h1 title="纯阳武神">纯阳武神</h1>
                <h2>作者：十步行</h2>
                <h3>类别：武侠</h3>
                <p class="describ">这是一个属于长生不死的武林神话！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/1.jpg"/>
                <h1 title="纯阳武神">纯阳武神</h1>
                <h2>作者：十步行</h2>
                <h3>类别：武侠</h3>
                <p class="describ">这是一个属于长生不死的武林神话！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
        </ul>
        <ul ng-hide="charge(qdcount,3,npage,1)">
            <li>
                <img src="image/hxs/3.jpg"/>
                <h1 title="魔天记">魔天记</h1>
                <h2>作者： 忘语</h2>
                <h3>类别：修仙</h3>
                <p class="describ"> 一名在无数凶徒中长大的亡命少年，在从被囚之地逃出升天后，又机缘巧合下另换身份，进入某一修炼宗门中，从此一个无法想象的大千世界向他敞开了大门，但阴差阳错下，又不得不面临随时可能丧失神智，化身成滔天魔物的杀身危机……</p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/2.jpg"/>
                <h1 title="弑天刃">弑天刃</h1>
                <h2>作者： 小刀锋利</h2>
                <h3>类别：武侠</h3>
                <p class="describ"> 江湖无道，拔刀而起，利刃横空，问心无愧。
                    众生无道，刀锋弑之。冷眼星空，持刀睥睨。
                    通天大道，一路荆棘，一刀斩开，唯我独尊！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/2.jpg"/>
                <h1 title="弑天刃">弑天刃</h1>
                <h2>作者： 小刀锋利</h2>
                <h3>类别：武侠</h3>
                <p class="describ"> 江湖无道，拔刀而起，利刃横空，问心无愧。
                    众生无道，刀锋弑之。冷眼星空，持刀睥睨。
                    通天大道，一路荆棘，一刀斩开，唯我独尊！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/2.jpg"/>
                <h1 title="弑天刃">弑天刃</h1>
                <h2>作者： 小刀锋利</h2>
                <h3>类别：武侠</h3>
                <p class="describ"> 江湖无道，拔刀而起，利刃横空，问心无愧。
                    众生无道，刀锋弑之。冷眼星空，持刀睥睨。
                    通天大道，一路荆棘，一刀斩开，唯我独尊！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(qdcount,1,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(qdcount,2,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(qdcount,3,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
</div>