<div class="lsynav-p">
    <ul>
        <li ng-class="{listp:!change(tbcount,1)}" ng-click="tbcount = 1;npage=1">天天特价</li>
        <li ng-class="{listp:!change(tbcount,2)}" ng-click="tbcount = 2;npage=1">清仓</li>
        <li ng-class="{listp:!change(tbcount,3)}" ng-click="tbcount = 3;npage=1">抢新</li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div id="taobao">
    <div class="lmbody">
        <ul ng-hide="charge(tbcount,1,npage,1)">
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603212.jpg"/>
                <h1 title="南极人外穿打底裤黑铅笔裤">南极人外穿打底裤黑铅笔裤</h1>
                <div class="lprice">¥18<span>.50</span><small>¥188.00</small></div>
                <div class="lnum">已售10344件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603213.jpg"/>
                <h1 title="[限500件]高档牛仔小脚裤">[限500件]高档牛仔小脚裤</h1>
                <div class="lprice">¥18<span>.50</span><small>¥129.00</small></div>
                <div class="lnum">已售16470件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603214.jpg"/>
                <h1 title="4条装男士内裤平角印花">4条装男士内裤平角印花</h1>
                <div class="lprice">¥29<span>.80</span><small>¥238.00</small></div>
                <div class="lnum">已售3193件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603214.jpg"/>
                <h1 title="4条装男士内裤平角印花">4条装男士内裤平角印花</h1>
                <div class="lprice">¥29<span>.80</span><small>¥238.00</small></div>
                <div class="lnum">已售3193件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603214.jpg"/>
                <h1 title="4条装男士内裤平角印花">4条装男士内裤平角印花</h1>
                <div class="lprice">¥29<span>.80</span><small>¥238.00</small></div>
                <div class="lnum">已售3193件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603214.jpg"/>
                <h1 title="4条装男士内裤平角印花">4条装男士内裤平角印花</h1>
                <div class="lprice">¥29<span>.80</span><small>¥238.00</small></div>
                <div class="lnum">已售3193件</div>
            </li>
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
        </ul>
        <ul ng-hide="charge(tbcount,1,npage,2)">
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603212.jpg"/>
                <h1 title="南极人外穿打底裤黑铅笔裤">南极人外穿打底裤黑铅笔裤</h1>
                <div class="lprice">¥18<span>.50</span><small>¥188.00</small></div>
                <div class="lnum">已售10344件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603213.jpg"/>
                <h1 title="[限500件]高档牛仔小脚裤">[限500件]高档牛仔小脚裤</h1>
                <div class="lprice">¥18<span>.50</span><small>¥129.00</small></div>
                <div class="lnum">已售16470件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603214.jpg"/>
                <h1 title="4条装男士内裤平角印花">4条装男士内裤平角印花</h1>
                <div class="lprice">¥29<span>.80</span><small>¥238.00</small></div>
                <div class="lnum">已售3193件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603214.jpg"/>
                <h1 title="4条装男士内裤平角印花">4条装男士内裤平角印花</h1>
                <div class="lprice">¥29<span>.80</span><small>¥238.00</small></div>
                <div class="lnum">已售3193件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603214.jpg"/>
                <h1 title="4条装男士内裤平角印花">4条装男士内裤平角印花</h1>
                <div class="lprice">¥29<span>.80</span><small>¥238.00</small></div>
                <div class="lnum">已售3193件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603214.jpg"/>
                <h1 title="4条装男士内裤平角印花">4条装男士内裤平角印花</h1>
                <div class="lprice">¥29<span>.80</span><small>¥238.00</small></div>
                <div class="lnum">已售3193件</div>
            </li>
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
            <li onclick="window.open('https://www.taobao.com');">
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="大码显瘦短袖休闲运动套装">大码显瘦短袖休闲运动套装</h1>
                <div class="lprice">¥11<span>.11</span><small>¥129.80</small></div>
                <div class="lnum">已售13296件</div>
            </li>
         </ul>
        <ul ng-hide="charge(tbcount,2,npage,1)">
            <li>
                <img src="image/hgw/taobao/qc/603211.jpg_.webp"/>
                <h1 title="【清仓】新款风衣！最后76件！">【清仓】新款风衣！最后76件！</h1>
                <div class="lprice">¥128<span>.00</span><small>¥699.00</small></div>
                <div class="lnum">已抢100件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/qc/603212.jpg_.webp"/>
                <h1 title="【亏本清仓 一件不剩】春秋男士棉夹克">【亏本清仓 一件不剩】春秋男士棉夹克</h1>
                <div class="lprice">¥29<span>.00</span><small>¥198.00</small></div>
                <div class="lnum">已抢6944件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/qc/603213.jpg_.webp"/>
                <h1 title="【质量太好了】买了都说好 不褪色不起球 精品超帅气夹克">【质量太好了】买了都说好 不褪色不起球 精品超帅气夹克</h1>
                <div class="lprice">¥49<span>.00</span><small>¥299.00</small></div>
                <div class="lnum">已抢3780件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/qc/603214.jpg_.webp"/>
                <h1 title="【品牌血亏】【日销20000条】 南极人百搭打底裤~">【品牌血亏】【日销20000条】 南极人百搭打底裤~</h1>
                <div class="lprice">¥18<span>.80</span><small>¥138.00</small></div>
                <div class="lnum">已抢11455件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/qc/603214.jpg_.webp"/>
                <h1 title="【品牌血亏】【日销20000条】 南极人百搭打底裤~">【品牌血亏】【日销20000条】 南极人百搭打底裤~</h1>
                <div class="lprice">¥18<span>.80</span><small>¥138.00</small></div>
                <div class="lnum">已抢11455件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/qc/603214.jpg_.webp"/>
                <h1 title="【品牌血亏】【日销20000条】 南极人百搭打底裤~">【品牌血亏】【日销20000条】 南极人百搭打底裤~</h1>
                <div class="lprice">¥18<span>.80</span><small>¥138.00</small></div>
                <div class="lnum">已抢11455件</div>
            </li>
        </ul>
        <ul ng-hide="charge(tbcount,3,npage,1)">
            <li>
                <img src="image/hgw/taobao/qx/603211.jpg"/>
                <h1 class="qx" title="抢新小蚊子2016春装英伦风腰部抽绳百搭中长款风衣~">抢新小蚊子2016春装英伦风腰部抽绳百搭中长款风衣</h1>
                <div class="lprice"><small style="text-decoration:none;">抢新价</small><span>&nbsp;¥98.70</span></div>
                <div class="lnotice">预售中 3月28前发货</div>
            </li>
            <li>
                <img src="image/hgw/taobao/qx/603212.jpg"/>
                <h1 class="qx" title="抢新 逆天性价比！时尚有型九分针织牛仔裤~">抢新 逆天性价比！时尚有型九分针织牛仔裤</h1>
                <div class="lprice"><small style="text-decoration:none;">抢新价</small><span>&nbsp;¥188.00</span></div>
                <div class="lnotice bred">疯抢中 38仅剩</div>
            </li>
            <li>
                <img src="image/hgw/taobao/qx/603213.jpg"/>
                <h1 class="qx" title="欧美时尚气质名媛蕾丝套装~">欧美时尚气质名媛蕾丝套装</h1>
                <div class="lprice"><small style="text-decoration:none;">抢新价</small><span>&nbsp;¥149.00</span></div>
                <div class="lnotice">预售中3月28前发货</div>
            </li>
            <li>
                <img src="image/hgw/taobao/qx/603214.jpg"/>
                <h1 class="qx" title="衬衫背心裙两件套连衣裙~">衬衫背心裙两件套连衣裙</h1>
                <div class="lprice"><small style="text-decoration:none;">抢新价</small><span>&nbsp;¥99.00</span></div>
                <div class="lnotice">预售中3月27前发货</div>
            </li>
            <li>
                <img src="image/hgw/taobao/qx/603214.jpg"/>
                <h1 class="qx" title="衬衫背心裙两件套连衣裙~">衬衫背心裙两件套连衣裙</h1>
                <div class="lprice"><small style="text-decoration:none;">抢新价</small><span>&nbsp;¥99.00</span></div>
                <div class="lnotice">预售中3月27前发货</div>
            </li>
            <li>
                <img src="image/hgw/taobao/qx/603214.jpg"/>
                <h1 class="qx" title="衬衫背心裙两件套连衣裙~">衬衫背心裙两件套连衣裙</h1>
                <div class="lprice"><small style="text-decoration:none;">抢新价</small><span>&nbsp;¥99.00</span></div>
                <div class="lnotice">预售中3月27前发货</div>
            </li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(tbcount,1,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(tbcount,1,npage,2)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(tbcount,2,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(tbcount,3,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>

        </ul>
    </div>
</div>