<div class="lsynav-p">
    <ul>
        <li ng-class="{listp:!change(ymxcount,1)}" ng-click="ymxcount = 1;npage=1">Z秒杀</li>
        <li ng-class="{listp:!change(ymxcount,2)}" ng-click="ymxcount = 2;npage=1">海外购</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div id="yamaxun">
    <div class="lmbody">
        <ul ng-hide="charge(ymxcount,1,npage,1)">
            <li>
                <img src="image/hgw/taobao/tttj/603211.jpg"/>
                <h1 title="LUNE DE MIEL蜜月原味蜂蜜便利装450g(法国进口)">LUNE DE MIEL蜜月原味蜂蜜便利装450g(法国进口)</h1>
                <div class="lprice">¥11<span>.11</span></div>
                <div class="lnum">3%已订购</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603212.jpg"/>
                <h1 title="南极人外穿打底裤黑铅笔裤">南极人外穿打底裤黑铅笔裤</h1>
                <div class="lprice">¥11<span>.11</span></div>
                <div class="lnum">已售10344件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603213.jpg"/>
                <h1 title="[限500件]高档牛仔小脚裤">[限500件]高档牛仔小脚裤</h1>
                <div class="lprice">¥11<span>.11</span></div>
                <div class="lnum">已售16470件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603214.jpg"/>
                <h1 title="4条装男士内裤平角印花">4条装男士内裤平角印花</h1>
                <div class="lprice">¥1111<span>.11</span></div>
                <div class="lnum">100%已定购</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603214.jpg"/>
                <h1 title="4条装男士内裤平角印花">4条装男士内裤平角印花</h1>
                <div class="lprice">¥1111<span>.11</span></div>
                <div class="lnum">100%已定购</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603214.jpg"/>
                <h1 title="4条装男士内裤平角印花">4条装男士内裤平角印花</h1>
                <div class="lprice">¥1111<span>.11</span></div>
                <div class="lnum">100%已定购</div>
            </li>
            <li>
                <img src="image/hgw/taobao/tttj/603214.jpg"/>
                <h1 title="4条装男士内裤平角印花">4条装男士内裤平角印花</h1>
                <div class="lprice">¥1111<span>.11</span></div>
                <div class="lnum">100%已定购</div>
            </li>
        </ul>
        <ul ng-hide="charge(ymxcount,2,npage,1)">
            <li>
                <img src="image/hgw/taobao/qc/603211.jpg_.webp"/>
                <h1 title="【清仓】新款风衣！最后76件！">【清仓】新款风衣！最后76件！</h1>
                <div class="lprice">¥11<span>.11</span></div>
                <div class="lnum">已抢100件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/qc/603212.jpg_.webp"/>
                <h1 title="【亏本清仓 一件不剩】春秋男士棉夹克">【亏本清仓 一件不剩】春秋男士棉夹克</h1>
                <div class="lprice">¥11<span>.11</span></div>
                <div class="lnum">已抢6944件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/qc/603213.jpg_.webp"/>
                <h1 title="【质量太好了】买了都说好 不褪色不起球 精品超帅气夹克">【质量太好了】买了都说好 不褪色不起球 精品超帅气夹克</h1>
                <div class="lprice">¥11<span>.11</span></div>
                <div class="lnum">已抢3780件</div>
            </li>
            <li>
                <img src="image/hgw/taobao/qc/603214.jpg_.webp"/>
                <h1 title="【品牌血亏】【日销20000条】 南极人百搭打底裤~">【品牌血亏】【日销20000条】 南极人百搭打底裤~</h1>
                <div class="lprice">¥1111<span>.11</span></div>
                <div class="lnum">已抢11455件</div>
            </li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(ymxcount,1,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(ymxcount,2,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
</div>