<div class="lsynav-p">
    <ul>
        <li ng-class="{listp:!change(hotelcount,1)}" ng-click="hotelcount = 1;npage=1">美团</li>
        <li ng-class="{listp:!change(hotelcount,2)}" ng-click="hotelcount = 2;npage=1">大众点评</li>
        <li ng-class="{listp:!change(hotelcount,3)}" ng-click="hotelcount = 3;npage=1">百度糯米</li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div id="zhusu">
    <div class="lmbody">
        <ul ng-hide="charge(hotelcount,1,npage,1)">
            <li>
                <img src="image/mtld603171.jpg"/>
                <h1 title="太湖源东坑村世方家园">太湖源东坑村世方家园</h1>
                <p style="color:black;">[临安市太湖源镇东坑村11号]</p>
                <div class="lprice">¥49<small>起</small></div>
                <div class="lscore">5/5分</div>
                <div class="lnum"></div>
            </li>
            <li>
                <img src="image/mtld603172.jpg"/>
                <h1 title="康都宾馆">康都宾馆  </h1>
                <p style="color:black;">[余杭区联兴路30号]</p>
                <div class="lprice">¥88<small>起</small></div>
                <div class="lscore">5/5分</div>
                <div class="lnum"></div>
            </li>
            <li>
                <img src="image/mtld603173.jpg"/>
                <h1 title="祥发假日酒店 经济型 ">祥发假日酒店 经济型 </h1>
                <p style="color:black;">[萧山区临浦东藩中路15号]</p>
                <div class="lprice">¥139<small>起</small></div>
                <div class="lscore">4.1/5分</div>
                <div class="lnum"></div>
            </li>
            <li>
                <img src="image/mtld603174.jpg"/>
                <h1 title="仙聚旅馆 经济型">仙聚旅馆 经济型 </h1>
                <p style="color:black;">[拱墅区香积寺西路329号]</p>
                <div class="lprice">¥49<small>起</small></div>
                <div class="lscore">4/5分</div>
                <div class="lnum"></div>
            </li>
            <li>
                <img src="image/mtld603174.jpg"/>
                <h1 title="仙聚旅馆 经济型">仙聚旅馆 经济型 </h1>
                <p style="color:black;">[拱墅区香积寺西路329号]</p>
                <div class="lprice">¥49<small>起</small></div>
                <div class="lscore">4/5分</div>
                <div class="lnum"></div>
            </li>
            <li>
                <img src="image/mtld603174.jpg"/>
                <h1 title="仙聚旅馆 经济型">仙聚旅馆 经济型 </h1>
                <p style="color:black;">[拱墅区香积寺西路329号]</p>
                <div class="lprice">¥49<small>起</small></div>
                <div class="lscore">4/5分</div>
                <div class="lnum"></div>
            </li>
            <li>
                <img src="image/mtld603174.jpg"/>
                <h1 title="仙聚旅馆 经济型">仙聚旅馆 经济型 </h1>
                <p style="color:black;">[拱墅区香积寺西路329号]</p>
                <div class="lprice">¥49<small>起</small></div>
                <div class="lscore">4/5分</div>
                <div class="lnum"></div>
            </li>
        </ul>
        <ul ng-hide="charge(hotelcount,2,npage,1)">
            <li>
                <img src="image/dianping/ld603191.jpg"/>
                <h1 title="杭州西溪宾馆1晚+双人豪华自助晚餐/西溪湿地门船票">杭州西溪宾馆1晚+双人豪华自助晚餐/西溪湿地门船票</h1>
                <p style="color:black;" title="[4店通用] 【周日至周五】景观房1晚+双人自助晚餐/西溪湿地门船票！含双早，免费WiFi！">[4店通用] 【周日至周五】景观房1晚+双人自助晚餐/西溪湿地门船票！含双早，免费WiFi！</p>
                <div class="lprice">¥998<small style="text-decoration:line-through;">3618</small></div>
                <div class="lscore">555条评价</div>
                <div class="lnum">已售2350</div>
            </li>
            </li>
            <li>
                <img src="image/dianping/ld603192.jpg"/>
                <h1 title="[西湖北线/黄龙] 威廉的太妃糖酒店">[西湖北线/黄龙] 威廉的太妃糖酒店</h1>
                <p style="color:black;" title="甜心精致房住宿1晚，可连续入住，免费WiFi！！">甜心精致房住宿1晚，可连续入住，免费WiFi！！</p>
                <div class="lprice">¥288<small style="text-decoration:line-through;">¥368</small></div>
                <div class="lscore">31条评价</div>
                <div class="lnum">已售241</div>
            </li>
            <li>
                <img src="image/dianping/ld603193.jpg"/>
                <h1 title="杭州素舍精品酒店">杭州素舍精品酒店</h1>
                <p style="color:black;" title="[拱宸桥/上塘]星辰大床房1晚，免费WiFi！">[拱宸桥/上塘]星辰大床房1晚，免费WiFi！</p>
                <div class="lprice">¥318<small style="text-decoration:line-through;">¥788</small></div>
                <div class="lscore">91条评价</div>
                <div class="lnum">已售684</div>
            </li>
            <li>
                <img src="image/dianping/ld603194.jpg"/>
                <h1 title="杭州汇和君亭酒店">杭州汇和君亭酒店</h1>
                <p style="color:black;" title="[城东]豪华大床房1晚，免费WiFi！不含早！（另有其他套餐可选）">[城东]豪华大床房1晚，免费WiFi！不含早！（另有其他套餐可选）</p>
                <div class="lprice">¥369<small style="text-decoration:line-through;">¥1388</small></div>
                <div class="lscore">56条评价</div>
                <div class="lnum">已售422</div>
            </li>
        </ul>
        <ul ng-hide="charge(hotelcount,3,npage,1)">
            <li>
                <img src="image/2.jpg"/>
                <h1 title="杭州西湖柒号酒店式公寓西湖店 高级房">杭州西湖柒号酒店式公寓西湖店 高级房</h1>
                <p style="color:black;" title="尊享杭州西湖柒号酒店式公寓西湖店高级房1晚＋洗衣机和自助厨房免费使用＋免费">尊享杭州西湖柒号酒店式公寓西湖店高级房1晚＋洗衣机和自助厨房免费使用＋免费</p>
                <div class="lprice">¥238<small style="text-decoration:line-through;">价值¥680</small></div>
                <div class="lscore">暂无评分</div>
                <div class="lnum">已售996</div>
            </li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(hotelcount,1,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(hotelcount,2,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(hotelcount,3,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
</div>