<div class="lsynav-p">
    <ul>
        <li ng-class="{listp:!change(zhcount,1)}" ng-click="zhcount = 1;npage=1">免费精品</li>
        <li ng-class="{listp:!change(zhcount,2)}" ng-click="zhcount = 2;npage=1">经典全本</li>
        <li ng-class="{listp:!change(zhcount,3)}" ng-click="zhcount = 3;npage=1">品书试读</li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div id="zongheng">
    <div class="lmbody">
        <ul ng-hide="charge(zhcount,1,npage,1)">
            <li>
                <img src="image/hxs/4.jpg"/>
                <h1 title="寰宇雷君">寰宇雷君</h1>
                <h2>作者： 大渣 </h2>
                <h3>类别：东方玄幻 </h3>
                <p class="describ"> 历地藏尽处，弃万古功名为红颜一笑；游九霄无涯，待一声惊雷挽绝世长弓！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/4.jpg"/>
                <h1 title="寰宇雷君">寰宇雷君</h1>
                <h2>作者： 大渣 </h2>
                <h3>类别：东方玄幻 </h3>
                <p class="describ"> 历地藏尽处，弃万古功名为红颜一笑；游九霄无涯，待一声惊雷挽绝世长弓！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/4.jpg"/>
                <h1 title="寰宇雷君">寰宇雷君</h1>
                <h2>作者： 大渣 </h2>
                <h3>类别：东方玄幻 </h3>
                <p class="describ"> 历地藏尽处，弃万古功名为红颜一笑；游九霄无涯，待一声惊雷挽绝世长弓！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/4.jpg"/>
                <h1 title="寰宇雷君">寰宇雷君</h1>
                <h2>作者： 大渣 </h2>
                <h3>类别：东方玄幻 </h3>
                <p class="describ"> 历地藏尽处，弃万古功名为红颜一笑；游九霄无涯，待一声惊雷挽绝世长弓！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
        </ul>
        <ul ng-hide="charge(zhcount,2,npage,1)">
            <li>
                <img src="image/hxs/4.jpg"/>
                <h1 title="回到古代玩机械">回到古代玩机械</h1>
                <h2>作者： 古代机械_逐浪小说  </h2>
                <h3>类别：穿越历史  </h3>
                <p class="describ"> 一样的穿越，不一样的精彩。 一个因意外而回到古代的工人，抱着不放弃的信念，运用自己… </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/4.jpg"/>
                <h1 title="寰宇雷君">寰宇雷君</h1>
                <h2>作者： 大渣 </h2>
                <h3>类别：东方玄幻 </h3>
                <p class="describ"> 历地藏尽处，弃万古功名为红颜一笑；游九霄无涯，待一声惊雷挽绝世长弓！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/4.jpg"/>
                <h1 title="寰宇雷君">寰宇雷君</h1>
                <h2>作者： 大渣 </h2>
                <h3>类别：东方玄幻 </h3>
                <p class="describ"> 历地藏尽处，弃万古功名为红颜一笑；游九霄无涯，待一声惊雷挽绝世长弓！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/4.jpg"/>
                <h1 title="寰宇雷君">寰宇雷君</h1>
                <h2>作者： 大渣 </h2>
                <h3>类别：东方玄幻 </h3>
                <p class="describ"> 历地藏尽处，弃万古功名为红颜一笑；游九霄无涯，待一声惊雷挽绝世长弓！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
        </ul>
        <ul ng-hide="charge(zhcount,3,npage,1)">
            <li>
                <img src="image/hxs/4.jpg"/>
                <h1 title="寰宇雷君">寰宇雷君</h1>
                <h2>作者： 大渣 </h2>
                <h3>类别：东方玄幻 </h3>
                <p class="describ"> 历地藏尽处，弃万古功名为红颜一笑；游九霄无涯，待一声惊雷挽绝世长弓！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/4.jpg"/>
                <h1 title="寰宇雷君">寰宇雷君</h1>
                <h2>作者： 大渣 </h2>
                <h3>类别：东方玄幻 </h3>
                <p class="describ"> 历地藏尽处，弃万古功名为红颜一笑；游九霄无涯，待一声惊雷挽绝世长弓！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/4.jpg"/>
                <h1 title="寰宇雷君">寰宇雷君</h1>
                <h2>作者： 大渣 </h2>
                <h3>类别：东方玄幻 </h3>
                <p class="describ"> 历地藏尽处，弃万古功名为红颜一笑；游九霄无涯，待一声惊雷挽绝世长弓！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
            <li>
                <img src="image/hxs/4.jpg"/>
                <h1 title="寰宇雷君">寰宇雷君</h1>
                <h2>作者： 大渣 </h2>
                <h3>类别：东方玄幻 </h3>
                <p class="describ"> 历地藏尽处，弃万古功名为红颜一笑；游九霄无涯，待一声惊雷挽绝世长弓！ </p>
                <div class="click" onclick="window.open('https://www.taobao.com');">[点击阅读]</div>
            </li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(zhcount,1,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(zhcount,2,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
    <div class="pagelist" ng-hide="charge(zhcount,3,npage,1)">
        <ul>
            <li ng-click="npage=1;totop()">1</li>
            <li ng-click="npage=2;totop()">2</li>
            <li ng-click="npage=3;totop()">3</li>
            <li ng-click="npage=4;totop()">4</li>
            <li ng-click="npage=5;totop()">5</li>
            <li ng-click="npage=6;totop()">6</li>
            <li ng-click="npage=7;totop()">7</li>
            <li ng-click="npage=8;totop()">8</li>
        </ul>
    </div>
</div>